<div class="detail-container" ng-controller="ctrlSupport">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="detail-cate-tit">
          <h1>Trung tâm hỗ trợ và hướng dẫn</h1>
        </div>
      </div>
    </div>

    <div class="support-content">
      <div class="faq-search">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-2">
            <span>Hãy cho chúng tôi biết vấn đề của bạn</span>
          </div>
          <div class="col-sm-4">
            <div class="faq-search-input">
              <form *ngIf="rfGuide" [formGroup]="rfGuide"
              (ngSubmit)="goToPage(0)">
              <object
              class="material-icons md-24"
              data="assets/icons/search.svg"
              width="20"
              height="20"
            ></object>
            <input
              type="text"
              ng-model="txtQuestion"
              ng-change="Search();"
              formControlName="title"
              class="ng-pristine ng-untouched ng-valid ng-empty"
            />
            </form>           
            </div>
          </div>
        </div>
      </div>

      <div class=" mt-2 row container" style="padding-left: 2%;">
          <div *ngIf="pageGuide != null" class="faq-list">
            <div
              class="row toggle toggle-primary toggle-qa"
              ng-show="myFaqData.lstFAQ.length > 0"
            >
              <div
                class="toggle panel panel-default"
                ng-repeat="x in myFaqData.lstFAQ"
                *ngFor="let x of pageGuide.content; let i = index "
              >
                <div class="pd-card-info-heading">
                  <h4 class="pd-card-info-tit">
                      <p>{{pageGuide.number * 3 + i + 1}}. {{x.title}}                  
                      </p>
                  </h4>
                  <div class="ms-auto edit-button">
                    <object
                      data="assets/icons/edit.svg"
                      width="24px"
                      height="24px"
                    ></object>
                  </div>  
                </div>
                <div
                  id="card-info0"
                  class="panel-collapse collapse in"
                  ng-class="{ in: $first }"
                  aria-expanded="true"
                  style=""
                >
                  <div class="detail-panel-body detail-panel-body-custom">
                    <p ng-bind-html="x.answer"></p>
                    <div>
                      <p>&nbsp;</p>
                      <ul>
                        <li>
                          <span
                            >{{x.content}}</span
                          >
                        </li>
                      </ul>
                      <p>
                        <span
                          >&nbsp; &nbsp; &nbsp; &nbsp; Chi tiết vui lòng xem
                          tại&nbsp;<a
                            href="../../resources/files/NhaDauTu/Hoi-dap-pho-bien/Nam-2020/huong-dan-chuyen-quyen-so-huu-do-thua-ke.pdf"
                            ><strong> ĐÂY </strong></a
                          ></span
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>           
          </div>
          <nav aria-label="Page navigation example" class="p-0 d-flex justify-content-end">
            <ul class="pagination">
              <li class="page-item" [ngClass]="pageGuide.number == 0 ? 'disabled' : ''">
        <span class="page-link" (click)="goToPage(pageGuide.number - 1)">
          Trang trước
        </span>
              </li>
              <li *ngFor="let pageNumber of [].constructor(pageGuide.totalPages); let i = index" class="page-item"
                  [ngClass]="i == pageGuide.number ? 'active' : ''">
                <span (click)="goToPage(i)" class="page-link">{{i + 1}}</span>
              </li>
              <li class="page-item" [ngClass]="pageGuide.totalPages == pageGuide.number+1 ? 'disabled' : ''">
                <a class="page-link" (click)="goToPage(pageGuide.number + 1)">Trang sau</a>
              </li>
            </ul>
          </nav>
      </div>
    </div>
  </div>
</div>
