<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#guide-model"
>
  Guide start
</button>
<div
  class="modal fade"
  id="guide-model"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body d-flex py-5 h-100">
        <div class="row h-100">
          <div class="col-lg-4"></div>
          <div class="col-lg-4"></div>
          <div class="boxed col-lg-4 shadow-md">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
            <form class="d-flex flex-column">
              <div class="mt-1 text-center">
                <h1>Hướng dẫn</h1>
                <h6 class="mb-3">
                  Tài nguyên hướng dẫn thường dùng
                </h6>
              </div>
              <div
                class="mb-3"
                style="height: 6px; background-color: #d1e7f8; width: 100%"
              ></div>
              <div class="mb-3 d-flex align-items-center question-item">
                <object
                  data="assets/icons/question.svg"
                  width="20px"
                  height="20px"
                ></object>
                <label
                  ><a href="#" class="question-link"
                    >Cách đăng ký account</a
                  ></label
                >
                <div class="ms-auto edit-button">
                  <object
                    data="assets/icons/edit.svg"
                    width="12px"
                    height="12px"
                  ></object>
                </div>
              </div>
              <div class="mb-3 d-flex align-items-center question-item">
                <object
                  data="assets/icons/question.svg"
                  width="20px"
                  height="20px"
                ></object>
                <label
                  ><a href="#" class="question-link"
                    >Thay đổi mật khẩu
                  </a></label
                >
                <div class="ms-auto edit-button">
                  <object
                  data="assets/icons/edit.svg"
                    width="12px"
                    height="12px"
                  ></object>
                </div>
              </div>
              <div class="mb-3 d-flex align-items-center question-item">
                <object
                  data="assets/icons/question.svg"
                  width="20px"
                  height="20px"
                ></object>
                <label
                  ><a href="#" class="question-link">Quên mật khẩu</a></label
                >
                <div class="ms-auto edit-button">
                  <object
                    data="assets/icons/edit.svg"
                    width="12px"
                    height="12px"
                  ></object>
                </div>
              </div>
              <div class="mb-3 d-flex align-items-center question-item">
                <object
                  data="assets/icons/question.svg"
                  width="20px"
                  height="20px"
                ></object>
                <label
                  ><a href="#" class="question-link"
                    >Đăng xuất khỏi sàn đấu giá</a
                  ></label
                >
                <div class="ms-auto edit-button">
                  <object
                    data="assets/icons/edit.svg"
                    width="12px"
                    height="12px"
                  ></object>
                </div>
              </div>

              <div class="mb-3 d-flex align-items-center question-item">
                <object
                  data="assets/icons/question.svg"
                  width="20px"
                  height="20px"
                ></object>
                <label
                  ><a href="#" class="question-link"
                    >Cách thức đấu giá</a
                  ></label
                >
                <div class="ms-auto edit-button">
                  <object
                    data="assets/icons/edit.svg"
                    width="12px"
                    height="12px"
                  ></object>
                </div>
              </div>

              <div class="mt-2 mb-2 d-flex align-items-center question-item w-100">
                <div
                  class="form-icon d-flex align-items-center justify-content-between"
                >
                  <object
                    data="assets/icons/search.svg"
                    width="20px"
                    height="20px"
                  ></object>
                </div>
                <div class="form-input">
                  <input
                    type="text"
                    placeholder="Tìm kiếm trong hướng dẫn"
                    aria-label="Username"
                    aria-describedby="basic-addon1"
                  />
                </div>
              </div>
              <div
              class="mb-2 mt-4"
              style="height: 6px; background-color: #d1e7f8; width: 100%"
            ></div> 
              <div
                class="mt-3 mb-3"
                style="color: black; font-family: Helvetica"
              >
                <h6><strong>Bạn có cần trợ giúp thêm ?</strong></h6>
                <div class="mb-3 d-flex align-items-center question-item">
                  <object
                    data="assets/icons/question.svg"
                    width="20px"
                    height="20px"
                  ></object>
                  <label style="font-family: sans-serif"
                    ><strong
                      ><a href="#" class="question-link"
                        >Đặt câu hỏi khác cho chúng tôi ?</a
                      ></strong
                    ></label
                  >
                </div>
                <div
                  class="mb-3"
                  style="height: 6px; background-color: #d1e7f8; width: 100%"
                ></div>
                <div class="mb-2 d-flex align-items-center question-item">
                  <object
                    data="assets/icons/paper-plane.svg"
                    width="20px"
                    height="20px"
                  ></object>
                  <label style="color: #1976d2; font-family: Helvetica"
                    ><a href="#" class="question-link">Gửi phản hồi</a>
                  </label>
                </div>
              </div>
            </form>
            <div class="mt-2 d-flex align-items-center question-item">
              <span style="font-size: 15px" class="fst-italic"
                >Nếu trong những hướng dẫn của sàn đâu giá chúng tôi chưa thể
                giải đáp cho bạn, bạn có thể liên hệ tới bộ phân tư vấn của
                chúng tôi !
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
