<div style="height: 78.9vh; display: flex; justify-content: center; align-items: center">
  <div class="container">
    <div class="h3 text-danger justify-content-center align-items-center d-flex">{{errorMessage}}</div>
    <div class="row-cols-lg-1 d-flex justify-content-center" style="width: 100%;">
      <form [formGroup]="resetPassForm" (ngSubmit)="submit()"
            class="col-lg-6 col-md-11 col-sm-12 shadow-lg card bg-nude" style="padding: 32px 24px" [hidden]="!isDisplay">
        <div class="form-heading text-center mb-5" style="margin-top: 5%">
          <p class="text-orange h1">Đặt lại mật khẩu</p>
          <p class="mt-3 h5">Tạo mới mật khẩu cho tài khoản của bạn</p>
        </div>
        <div class="form-floating mb-5">
          <input #x type="password" class="form-control" id="floatingAccount" formControlName="newPassword"
                 placeholder="abc123"
                 style="float: left" [ngClass]="(resetPassForm.controls['newPassword'].touched)? resetPassForm.controls['newPassword'].invalid?'border border-danger':'border border-success':''">
          <span style="margin-left: -44px">
            <button (click)="display(x)" style="height: 58px; border: none" class="btn text-dark" type="button" id="button-addon2">
              <i class="fa-solid fa-eye"></i></button></span>
          <label for="floatingAccount">Mật khẩu mới<small class="text-danger fw-bolder"> *</small></label>
          <div class="text-danger">
            <div *ngIf="resetPassForm.controls['newPassword'].hasError('required') && (resetPassForm.controls['newPassword'].touched ||resetPassForm.controls['newPassword'].dirty )">
              Không được để trống password.
            </div>
            <div *ngIf="resetPassForm.controls['newPassword'].hasError('minlength') && (resetPassForm.controls['newPassword'].touched ||resetPassForm.controls['newPassword'].dirty )">
              Độ dài tối thiểu của mật khẩu là 5 kí tự.
            </div>
            <div *ngIf="resetPassForm.controls['newPassword'].hasError('maxlength') && (resetPassForm.controls['newPassword'].touched ||resetPassForm.controls['newPassword'].dirty )">
              Độ dài tối đa của mật khẩu là 30 kí tự.
            </div>
          </div>
        </div>
        <div class="form-floating mb-5">
          <input type="password" class="form-control" id="floatingInput" formControlName="confirmPassword"
                 placeholder="abc123"
                 [ngClass]="(resetPassForm.controls['confirmPassword'].touched)?(resetPassForm.hasError('reconfirmPassword'))? 'is-invalid':'is-valid':''">
          <label for="floatingInput">Nhập lại mật khẩu mới<small class="text-danger fw-bolder"> *</small></label>
          <div class="d-block">
            <div class="text-danger" *ngIf="resetPassForm.hasError('reconfirmPassword')&& (resetPassForm.controls['confirmPassword'].touched ||resetPassForm.controls['confirmPassword'].dirty )">
              Mật khẩu không trùng khớp, vui lòng thử lại.
            </div>
          </div>
          <div class="form-floating mt-5 d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn bg-orange text-light" [disabled]="resetPassForm.invalid">Lưu mật khẩu mới</button>
            <button type="button" class="btn btn-secondary " routerLink="/login">Quay lại</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
