<!--Created by QuangND
    Screen: Add new guide of auction web
    DateCreate: 15/12/2022
-->

<div class="container ">
  <div class="row">
    <div class="col-lg-6">
      <h3 class="center">Tạo Mới Hướng Dẫn</h3>
      <div class="guide " style=" box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.35);">
        <form [formGroup]="guideForm" id="guideform" (ngSubmit)="createGuide()">
          <div class="row">
            <label for="title" class="form-label">Chủ đề (<span style="color: red">*</span>)</label>
            <input formControlName="title" id="title" type="text" placeholder=" Chọn chủ đề" class="form-control"
                   [ngClass]="guideForm.controls['title'].touched && guideForm.controls['title'].invalid?'is-invalid':guideForm.controls['title'].touched && guideForm.controls['title'].valid ?'is-valid':''"/>
            <div class="invalid-feedback">
              <div *ngIf="guideForm.controls['title'].errors?.required">
                <span>Chủ đề không được bỏ trống.</span>
              </div>
              <div *ngIf="guideForm.controls['title'].errors?.minlength||guideForm.controls['title'].errors?.maxlength">
                <span>Tên chủ đề quá dài hoặc quá ngắn<10-100>.</span>
              </div>
              <div *ngIf="guideForm.controls['title'].errors?.pattern">
                <span>Tên chủ đề không được chứa ký tự đặc biệt.</span>
              </div>
            </div>
          </div>

          <div class="row">
            <label for="floatingTextarea">Nội dung (<span style="color: red">*</span>)</label>

            <ckeditor [editor]="Editor" formControlName="content" class="form-control" rows="6" placeholder="Ghi nội dung ở đây"
                      id="floatingTextarea"
                      [ngClass]="guideForm.controls['content'].touched && guideForm.controls['content'].invalid?'is-invalid':guideForm.controls['content'].touched && guideForm.controls['content'].valid ?'is-valid':''"></ckeditor>
            <div class="invalid-feedback">
              <div *ngIf="guideForm.controls['content'].errors?.required">
                <span>Nội dung không được bỏ trống.</span>
              </div>
              <div
                *ngIf="guideForm.controls['content'].errors?.minlength||guideForm.controls['content'].errors?.maxlength">
                <span>Nội dung quá dài hoặc quá ngắn <30-2000>.</span>
              </div>
            </div>
          </div>

          <div class="row">
            <label for="file" class="form-label">Chọn hình ảnh</label>
            <input type="file" id="file"
                   #file
                   multiple
                   (change)="showPreview($event)"
                   name="image"
                   autocomplete="off" class="custom-file-input form-control" id="inputGroupFile01">
          </div>
          <div class="d-flex justify-content-left" style="overflow-x: scroll; margin-top: 20px ">
            <p *ngIf="messageCreate!=''">{{messageCreate}}</p>
            <div *ngFor=" let item of imgCreate, let i = index">
              <div style="position: relative">
                <img class="d-block" style="height: 84px" src="{{item}}">
                <span class="remove_img" (click)="deleteImageNew(i); file.value = ''"
                      aria-label="Close">
  <i class="fa-solid fa-trash-can"></i>
</span>
              </div>
            </div>
          </div>
          <div class="center">
            <button class="btn btn-primary w-100" type="submit" [disabled]="!guideForm.valid ">
              Thêm Hướng dẫn
            </button>
            <button  class="btn btn-primary w-100 mt-10 " style="margin-top: 10px" type="reset" >
              Đặt Lại
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row bdg d-flex align-items-center w-50">
        <div class="d-block w-50">
          <img style="width: 600px; height: 500px; margin-top: 100px"
               src="https://img.lovepik.com/free-png/20211213/lovepik-blue-notebook-png-image_401565364_wh1200.png"
               alt="">
        </div>
      </div>
    </div>
  </div>
</div>
