<!--Created by QuangND
    Screen: Edit a guide of auction web
    DateCreate: 15/12/2022
-->
<div class="container ">
  <div class="row">
    <div class="col-md-6">
      <h3 class="center"> Chỉnh Sửa Hướng Dẫn</h3>
      <div class="guide w-100" style=" box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.35);">
        <h3 *ngIf="!editGuideForm">No data</h3>
        <form [formGroup]="editGuideForm" *ngIf="editGuideForm" id="guideform" name="guide" (ngSubmit)="updateGuide()">
          <input formControlName="id" hidden>
          <div class="row">
            <label for="title" class="form-label">Chủ đề (<span style="color: red">*</span>)</label>
            <input formControlName="title" id="title" type="text" class="form-control"
                   [ngClass]="editGuideForm.controls['title'].touched && editGuideForm.controls['title'].invalid?'is-invalid':editGuideForm.controls['title'].touched && editGuideForm.controls['title'].valid ?'is-valid':''">
            <div class="invalid-feedback">
              <div *ngIf="editGuideForm.controls['title'].errors?.required">
                <span>Chủ đề không được bỏ trống.</span>
              </div>
              <div
                *ngIf="editGuideForm.controls['title'].errors?.minlength||editGuideForm.controls['title'].errors?.maxlength">
                <span>Tên chủ đề quá dài hoặc quá ngắn<10-100>.</span>
              </div>
              <div *ngIf="editGuideForm.controls['title'].errors?.pattern">
                <span>Tên chủ đề không được chứa ký tự đặc biệt.</span>
              </div>
            </div>
          </div>
          <div class="row">
            <label for="floatingTextarea">Nội dung (<span style="color: red">*</span>)</label>

            <ckeditor [editor]="Editor"formControlName="content" class="form-control" rows="7" placeholder="Leave a content here"
                      id="floatingTextarea" [ngClass]="editGuideForm.controls['content'].touched && editGuideForm.controls['content'].invalid?'is-invalid':editGuideForm.controls['content'].touched && editGuideForm.controls['title'].valid ?'is-valid':''"></ckeditor>
            <div class="invalid-feedback">
              <div *ngIf="editGuideForm.controls['content'].errors?.required">
                <span>Nội dung không được bỏ trống.</span>
              </div>
              <div
                *ngIf="editGuideForm.controls['content'].errors?.minlength||editGuideForm.controls['content'].errors?.maxlength">
                <span>Nội dung quá dài hoặc quá ngắn<30-2000>.</span>
              </div>
            </div>
          </div>

          <div class="row">
            <label class="form-label">Sửa hình ảnh(Thêm hoặc xóa)</label>
            <input class="form-control" type="file" #file multiple (change)="showPreview($event)">
            <div class="d-flex justify-content-left" style="overflow-x: scroll; margin-top: 20px ">
              <span *ngIf="messageCreate!=''">{{messageCreate}}</span>
              <div *ngFor=" let item of imgs,let i = index" style="margin-right: 10px">
                <div style="position: relative">
                  <img class="d-block" style="height: 84px" src="{{item.url}}">
                  <span class="remove_img" (click)="deleteImage(i,item)"
                        aria-label="Close">
        <i class="fa-solid fa-trash-can"></i>
      </span>
                </div>
              </div>
              <div *ngFor="let img of imgCreate,let i = index" style="margin-right: 10px">
                <div style="position: relative">
                  <img class="d-block" style="height: 84px" src="{{img}}">
                  <span class="remove_img" (click)="deleteImageNew(i);file.value=''"
                        aria-label="Close">
        <i class="fa-solid fa-trash-can"></i>
      </span>
                </div>
              </div>
            </div>
          </div>
          <div class="center">
            <button class="btn btn-primary w-100" type="submit" [disabled]="!editGuideForm.valid">
              Sửa Hướng dẫn
            </button>
            <button  class="btn btn-primary w-100 mt-10" type="button" style="margin-top: 10px"  (click)="resetEditForm()" >
              Đặt Lại
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row bdg d-flex align-items-center w-50">
        <div class="d-block w-50">
          <img style="width: 600px; height: 700px; margin-top: 100px"
               src="https://img.lovepik.com/free-png/20211213/lovepik-blue-notebook-png-image_401565364_wh1200.png"
               alt="">
        </div>
      </div>
    </div>
  </div>

</div>
