<!--Created by QuangND
    Screen: Edit a guide of auction web
    DateCreate: 15/12/2022
-->

<div class="container ">
  <h3 class="center"> Chỉnh Sửa Hướng Dẫn</h3>
  <div class="guide w-50" style=" box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.35);">
    <form [formGroup]="editGuideForm" *ngIf="editGuideForm" id="guideform" name="guide" (ngSubmit)="updateGuide()">
      <input formControlName="id" hidden>
      <div class="row">
        <label for="title" class="form-label">Chủ đề (<span style="color: red">*</span>)</label>
        <input formControlName="title" id="title" type="text" class="form-control">
      </div>

      <div class="row">
        <label for="floatingTextarea">Nội dung (<span style="color: red">*</span>)</label>

        <textarea formControlName="content" class="form-control" rows="7" placeholder="Leave a content here"
                  id="floatingTextarea"></textarea>
      </div>

      <div class="row">
        <label class="form-label">Sửa hình ảnh (Thêm hoặc xóa)</label>
        <input class="form-control" type="file" (change)="showPreview($event)">
        <div *ngFor=" let item of imgs,let i = index">
          <img style="height: 200px; width: 200px" src="{{item.url}}">
          <button (click)="deleteImage(i,item)" type="button"><i class="fa-solid fa-delete-left"></i></button>
        </div>
      </div>
      <div *ngFor="let item of imgCreate, let i = index">
        <img style="height: 200px; width: 200px" src="{{item}}">
        <button (click)="deleteImageNew(i)" type="button" class="btn-close" aria-label="Close"></button>
      </div>
      <div class="center">
        <button class="btn btn-primary w-100">
          Sửa Hướng dẫn
        </button>
      </div>
    </form>
  </div>
</div>
