
form .row {
  margin-bottom: 12px;
}

form label {
  font-weight: bold;
  color: #464646;
}


.center {
  padding-top: 30px;
}

.guide {
  margin-top: 32px;
  margin-bottom: 24px;
  min-height: 60vh;
}

#guideform {
  padding: 32px;
  min-height: 50vh;
}
.remove_img {
  padding: 3px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  display: block;
  background-color: #ff0000a6;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}
