<div class="row text-center mt-3">
  <h2 style="margin-top: 10px">Thêm Thành viên</h2>
</div>
<form
  class=" container-fluid shadow" style="margin-top: 30px; max-width: 450px" [formGroup]="addUser">
  <div>
    <div class="mb-2">
      Họ:
      <input type="text" class="form-control" formControlName="fisrtName">
    </div>
    <div class="mb-2">
      Tên:
      <input type="text" class="form-control" formControlName="lastName">
    </div>
    <div class="mb-2">
      Tên đăng nhập:
      <input type="text" class="form-control" formControlName="username">
    </div>
    <div class="mb-2">
      Ngày sinh:
      <input type="date" class="form-control" formControlName="birthDay">
    </div>
    <div class="mb-2">
      Email:
      <input type="text" class="form-control" formControlName="email">
    </div>
    <div class="mb-2">
      Số điện thoại:
      <input type="text" class="form-control" formControlName="phone">
    </div>
    <div class="mb-2">
      Số CMND:
      <input type="text" class="form-control" formControlName="idCard">
    </div>
    <div class="mb-2">
      Số nhà:
      <input type="text" class="form-control" formControlName="detailAddress">
    </div>
    <div class="mb-2">
      Phường/Xã:
      <input type="text" class="form-control" formControlName="town">
    </div>
    <div class="mb-2">
      Quận /huyện:
      <input type="text" class="form-control" formControlName="district">
    </div>
    <div class="mb-2">
      Tỉnh:
      <input type="text" class="form-control" formControlName="city">
    </div>
  </div>
  <div class="text-center mb-4" style="margin-top:20px">
    <button type="submit" class="btn btn-primary" style="margin-right: 10px">Thêm mới</button>
    <a routerLink="">
      <button class="btn btn-primary" style="margin-right: 10px">Hủy</button>
    </a>
    <button type="reset" class="btn btn-primary">Nhập lại</button>
  </div>
</form>

