<div class="container-fluid bg-light mb-5">
  <div class="row mt-5 d-inline-block" style="min-height: 75vh">
    <div class="col-lg-7 float-lg-start" style="margin: 0">
      <div class="container ps-0 pe-0">
        <nav class="navbar navbar-expand-lg bg-orange">
          <div class="container-fluid align-items-center">
            <span class="fw-bold text-light h3 mb-0"><button class="btn" href="#">
              <i class="text-light h3 fa-solid fa-cart-shopping"></i>
            </button>
              Giỏ Hàng</span>
          </div>

        </nav>
      </div>
      <div class="main-part">
        <div class="row bg-orange text-light ms-0 me-0" style="padding-top: 2px; padding-bottom: 6px">
          <div class="w-50 float-start" style="padding-left: 2%; padding-top: 3px">
            <span><button class="btn text-light" (click)="addAllToCart()" style="border: none; margin-right: 6px"><i
              style="font-size: x-large" class="fa-regular fa-square-plus"></i></button><span class="h4">Sản phẩm</span></span>
          </div>
        </div>

        <div class="row bg-light text-orange mt-2 mb-2 ms-0 me-0">
          <div style="padding-left: 2%" *ngIf="paymentList.length!=0">
            Sản phẩm sẽ được giao vào {{shippingDate|date:'dd/MM/yyyy'}}
          </div>
          <div style="padding-left: 2%" class="h5" *ngIf="paymentList.length==0">
            Không có sản phẩm trong giỏ hàng, hãy tham gia đấu giá.
          </div>

        </div>
        <form>
          <label>
            <div *ngFor="let item of paymentList, index as i">
              <!--Bắt đầu ảnh-->
              <div class="card mb-3  border shadow-lg ">
                <div class="row g-0">
                  <div class="col-md-1" style="text-align: center">
                    <input class="delete-checkbox" [checked]="paymentListId.includes(item.id)" type="checkbox"
                           (click)="addToCart(item.id)"/>
                  </div>
                  <div class="col-md-4 mt-2">
                    <img
                      src="{{item.productImage}}"
                      class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-7">
                    <div class="card-body">
                      <h5 class="card-title text-orange fw-bold title"
                          title="{{item.productName}}">{{item.productName}}</h5>
                      <p class="max-lines"> {{item.description}}...</p>

                      <div class="clearfix">
                        <h6 class="col-5 float-start"><span class="text-orange">Số lượng:</span> x1
                        </h6>
                        <h6 class="col-5 float-end price text-orange">Giá: <span
                          class="text-dark">{{item.productPrice|currency:'':'':'1.0-0'}}<sup> &#8363;</sup></span></h6>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <!--hết ảnh-->
            </div>
          </label>
        </form>
      </div>
    </div>
    <div class="col-lg-5 float-lg-end">
      <table class="table table-borderless">
        <thead>
        <tr>
          <td>
            <span class="text-orange h3"> <i class="fa-solid fa-note-sticky"></i> Tóm tắt </span>
          </td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Tổng tiền hàng</td>
          <td class="text-end text-orange fw-bolder">{{sum|currency:'':'':'1.0-0'}}<sup> &#8363;</sup></td>
        </tr>
        <tr>
          <td>Giao hàng</td>
          <td class="text-end text-orange fw-bolder">{{shipping|currency:'':'':'1.0-0'}}<sup> &#8363;</sup></td>

        </tr>
        <tr>
          <td>Tổng</td>
          <td class="text-end text-orange fw-bolder fs-5">{{total|currency:'':'':'1.0-0'}}<sup>
            &#8363;</sup><span></span>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="row px-3">
        <button type="button" class="btn bg-orange text-light btn-lg" [disabled]="paymentListId.length==0"
                (click)="transferId()" routerLink="/receipt">Thanh toán ngay
        </button>
      </div>
      <div class="row pt-3">
        <span class=" px-3"><i class="fa-solid fa-truck text-orange"></i><span class="text-muted"> Giao hàng toàn quốc | từ 49,000<sup> &#8363;</sup> </span></span>
      </div>
      <div class="row pt-3 d-inline-block">
        <img style="width: 15%; border-radius: 50%"
             src="https://nganhangaz.com/wp-content/uploads/2022/01/vietcombank-logo.png">
        <img style="width: 15%; border-radius: 50%"
             src="https://developers.momo.vn/v3/assets/images/circle-logo-custom-16cb24e3ed26349c467cb2e932000fde.png">
        <img style="width: 15%; border-radius: 50%"
             src="https://cdn-icons-png.flaticon.com/512/1377/1377239.png">
      </div>
      <div class="row pt-3 pb-3">
        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/2bbcfa99737217.5ef9be3dbb9a9.jpg">
      </div>
    </div>
  </div>


</div>

<div class="row ms-3 me-3 pb-5">
  <div class="col-lg-4">
    <div class="h5">Khi nào chúng tôi được nhận hàng?</div>
    <div class="text-muted">Trong vòng 3-5 ngày làm việc</div>
  </div>
  <div class="col-lg-4">
    <div class="h5">Điều khoản hoàn trả là gì?</div>
    <div class="text-muted">Nếu bạn không hài lòng với kiện hàng, bạn có thể hoàn lại trong vòng 30 ngày</div>
  </div>
  <div class="col-lg-4">
    <div class="h5">Thay đổi đơn hàng?</div>
    <div class="text-muted">Gọi cho chúng tôi theo số (028)-362-222-222</div>
  </div>
</div>
