.vertical-line {
  border-left: 3px solid #0d6efd;
  height: 300px;
  margin-left: 30%;
  margin-right: 10%;

}

.col-lg-4 {
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: whitesmoke;
  box-shadow: 1px 1px 0.6em darkgray;
}

.questions {
  margin-bottom: 2%;
}

body {
  background-color: #ececee;
}

.left-side {
  background-color: whitesmoke;
  box-shadow: 1px 1px 0.6em darkgray;
}

.main-part {
  background-color: whitesmoke;
  padding-top: 2%;

}

input[type="checkbox"] {
  zoom: 1.75;
}

.bg-orange{
  background-image: linear-gradient(to bottom right, #fa6132, #d74836);
}
.text-orange{
  color: #fa6132;
}
