<div style="margin-left: 110px ; margin-right: 110px">
  <div div class="row">
    <h1 class="text-center text-" style="color: #fa6132">LỊCH SỬ ĐĂNG KÝ MẶT HÀNG ĐẤU GIÁ</h1>
  </div>
  <div>
    <div class="row" id="title">
      <marquee direction="right"
               direction="left"
               behavior="alternate">
        <img width="70%" height="200px" id="img" onclick="changeImage()"
             src="https://static.daugiarongviet.vn/uploaded/slide/dau-gia-rong-viet-1_1663042382.jpg"
             alt="">

      </marquee>
    </div>
    <div class="row" id="center">
      <table class="table table-warning table-striped-columns">
        <thead>
        <tr class="text-center">
          <th>STT</th>
          <th>Tên Sản Phẩm</th>
          <th>Thông Tin Sản Phẩm</th>
          <th>Ngày Đăng Ký</th>
          <th>Tình Trạng</th>
          <th>Hủy Đăng Ký</th>
        </tr>
        </thead>
        <h3 class="text-danger text-center" style="justify-content: center; display: flex; align-items: center "
            *ngIf="pageHistory == null">Bạn không có lịch sử đăng ký</h3>
        <tbody class="text-center">
        <tr *ngFor="let item of pageHistory.content ;index as i">
          <td class="text-center">{{i + 1 + (page - 1) * pageSize}}</td>
          <td>{{item.name}}</td>
          <td>{{item.description|CustomPipe}}</td>
          <td>{{item.registerDay|date:'dd/MM/yyyy'}}</td>
          <td class="text-danger">{{item.reviewStatus}}</td>
          <td>
          <span *ngIf="item.auctionStatus == 1 && item.isDelete == 'false'">
            <button class=" btn btn-danger" (click)="confirmCancel(item.id)">hủy đăng ký</button>
          </span>

            <span *ngIf="item.auctionStatus == 2  && item.isDelete == 'false'" class="text-danger">Đang Đấu Giá</span>
            <span *ngIf="item.auctionStatus == 3  && item.isDelete == 'false'"
                  class="text-success">Đấu giá thành công</span>

            <span *ngIf="item.auctionStatus == 4 && item.isDelete == 'false' ">
            <button class=" btn btn-dark" (click)="confirmCancel(item.id)">Đấu giá thất bại(hủy)</button>
          </span>


            <span *ngIf="item.auctionStatus == 1 && item.isDelete == 'true' ">
            Đã hủy
          </span>
            <span *ngIf="item.auctionStatus == 2 && item.isDelete == 'true' ">
            Đã hủy
          </span>
            <span *ngIf="item.auctionStatus == 3 && item.isDelete == 'true' ">
            Đã hủy
          </span>
            <span *ngIf="item.auctionStatus == 4 && item.isDelete == 'true' ">
            Đã hủy
          </span>


          </td>

        </tr>
        </tbody>
      </table>
      <h3 class="text-danger text-center" style="text-align: center" *ngIf="pageHistory == null">Bạn không có lịch sử
        đăng
        ký</h3>

      <!--    Pagination-->
      <div class="row">
        <div class="col-9"></div>
        <div class="col-3">
          <div>
            <div *ngIf="pageHistory">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link"
                                           [ngClass]="pageHistory.first ? 'disabled': ''"
                                           (click)="gotoPage(pageHistory.number - 1)">Trang trước</a>
                  </li>
                  <li class="page-item active"><a class="page-link">
                    {{pageHistory.number + 1}}/{{pageHistory.totalPages}}</a></li>
                  <li class="page-item"><a class="page-link"
                                           [ngClass]="pageHistory.last ? 'disabled': ''"
                                           (click)="gotoPage(pageHistory.number + 1)">Trang Sau</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>

        </div>

      </div>


      <div>
        <script>
          var index = 1;
          changeImage = function () {
            var imgs = ["https://static.daugiarongviet.vn/uploaded/slide/dau-gia-rong-viet-1_1663042382.jpg",
              "https://hoc11.vn/wp-content/uploads/2021/11/tinh-nang-dau-gia-tren-shopee-live.png",
              "https://i.ytimg.com/vi/z9iPlspJJ1U/maxresdefault.jpg",
              "http://blog.abit.vn/wp-content/uploads/2020/04/cach-san-deal-tiki3-2.png",];
            document.getElementById('img').src = imgs[index];
            index++;
            if (index == 4) {
              index = 0;
            }
          }
          setInterval(changeImage, 2000);
        </script>
      </div>
    </div>
  </div>
</div>
