<div class="container-fluid" style="background-color: #eee  ;height: 100vh">
  <div class="row">
    <div class="container col-12" style="width: 75%">
      <div class="borderFull">
        <div class="row" style="padding:32px 0">
          <div class="profile row" style="background-color: white;border-radius: 20px">
            <div class=" col-5 bgd d-flex align-items-center pl-0 " style="padding-left: 0">
              <div class="h-100 w-100"
                   style="background: url('https://images.pexels.com/photos/210661/pexels-photo-210661.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-size: cover; background-repeat: no-repeat;border-top-left-radius: 20px; border-bottom-left-radius: 20px">
              </div>
            </div>

            <div class="col-7  p-3">
              <form *ngIf="rfUser" [formGroup]="rfUser" (ngSubmit)="saveUser(id)">
                <div class="row">
                  <div class="text-center">
                    <div class="row mb-3" style="font-size: 20px">
                      <h3>Sửa hồ sơ cá nhân</h3>
                    </div>
                  </div>
                  <div class="col-lg-3"></div>
                </div>

                <div class="row">
                  <div class="col-lg-6">
                    <div class=" input-group ">
                      <div class="form-floating flex-grow-1">

                        <input type="text" class="form-control" id="floatingFistName"
                               formControlName="firstName"
                               [ngClass]="(rfUser.controls['firstName'].touched) ?
                               (rfUser.controls['firstName'].errors ? 'is-invalid' : 'is-valid') : '' ">
                        <label for="floatingFistName">Họ</label>
                      </div>
                      <span class="input-group-text" id="basic-addon1">  <i
                        class="fa-solid fa-user"></i></span>
                    </div>
                    <div *ngIf="rfUser.controls['firstName'].hasError('required')
                             && rfUser.controls['firstName'].touched" style="color: red">
                      Họ không được bỏ trống.
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class=" input-group ">
                      <div class=" form-floating flex-grow-1">
                        <input type="text" class="form-control" id="floatingName" required
                               formControlName="lastName"
                               [ngClass]="(rfUser.controls['lastName'].touched) ?
                               (rfUser.controls['lastName'].errors ? 'is-invalid' : 'is-valid') : '' ">
                        <label for="floatingName">Tên</label>
                      </div>
                      <span class="input-group-text" id="basic-addon2"><i
                        class="fa-solid fa-user"></i></span>
                    </div>
                    <div *ngIf="rfUser.controls['lastName'].hasError('required')
                             && rfUser.controls['lastName'].touched" style="color: red">
                      Tên không được bỏ trống.
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class=" input-group mt-3">
                      <div class="form-floating flex-grow-1">
                        <input type="text" class="form-control" id="floatingLogin" required
                               formControlName="username"
                               [ngClass]="(rfUser.controls['username'].touched) ?
                               (rfUser.controls['username'].errors ? 'is-invalid' : 'is-valid') : '' ">
                        <label for="floatingLogin">Tên đăng nhập</label>
                      </div>
                      <span class="input-group-text" id="basic-addon3"><i
                        class="fa-solid fa-user"></i></span>
                    </div>
                    <div *ngIf="rfUser.controls['username'].hasError('required')
                             && rfUser.controls['username'].touched" style="color: red">
                      Tên đăng nhập không được bỏ trống.
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class=" input-group mt-3">
                      <div class="form-floating flex-grow-1">
                        <input type="text" class="form-control" id="floatingId" required
                               formControlName="id" disabled>

                        <label for="floatingId">Mã thành viên</label>
                      </div>
                      <span class="input-group-text" id="basic-addon4">
                                            <i class="fa-solid fa-id-badge"></i></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class=" input-group mt-3">
                      <div class=" form-floating flex-grow-1" style="z-index: 1">
                        <input type="date" class="form-control" id="floatingDateOfBirth" required
                               formControlName="birthDay"
                               [ngClass]="(rfUser.controls['birthDay'].touched) ?
                               (rfUser.controls['birthDay'].errors ? 'is-invalid' : 'is-valid') : '' ">
                        <label for="floatingDateOfBirth">Ngày sinh</label>
                      </div>
                    </div>
                    <div *ngIf="rfUser.controls['birthDay'].hasError('required')
                             && rfUser.controls['birthDay'].touched" style="color: red">
                      Ngày sinh không được bỏ trống.
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class=" input-group mt-3">
                      <div class="form-floating flex-grow-1">
                        <input type="text" class="form-control" id="floatingIdCard" required
                               formControlName="idCard"
                               [ngClass]="(rfUser.controls['idCard'].touched) ?
                               (rfUser.controls['idCard'].errors ? 'is-invalid' : 'is-valid') : '' ">
                        <label for="floatingIdCard">CMND (Căn cước công dân) </label>
                      </div>
                      <span class="input-group-text" id="basic-addon6"><i
                        class="fa-regular fa-id-card"></i></span>
                    </div>
                    <div *ngIf="rfUser.controls['idCard'].hasError('required')
                             && rfUser.controls['idCard'].touched" style="color: red">
                      CMND không được bỏ trống.
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class=" input-group mt-3">
                      <div class="form-floating flex-grow-1">
                        <input type="text" class="form-control" id="floatingPhone" required
                               formControlName="phone"
                               [ngClass]="(rfUser.controls['phone'].touched) ?
                               (rfUser.controls['phone'].errors ? 'is-invalid' : 'is-valid') : '' ">
                        <label for="floatingPhone">Số điện thoại</label>
                      </div>
                      <span class="input-group-text" id="basic-addon7"><i
                        class="fa-solid fa-phone-flip"></i></span>
                    </div>
                    <div *ngIf="rfUser.controls['phone'].hasError('required')
                             && rfUser.controls['phone'].touched" style="color: red">
                      SDT không được bỏ trống.
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class=" input-group mt-3">
                      <div class="form-floating flex-grow-1">
                        <input type="text" class="form-control" id="floatingEmail" required
                               formControlName="email"
                               [ngClass]="(rfUser.controls['email'].touched) ?
                               (rfUser.controls['email'].errors ? 'is-invalid' : 'is-valid') : '' ">
                        <label for="floatingEmail">Email</label>
                      </div>
                      <span class="input-group-text" id="basic-addon8"><i
                        class="fa-solid fa-envelope"></i></span>
                    </div>
                    <div *ngIf="rfUser.controls['email'].hasError('required')
                             && rfUser.controls['email'].touched" style="color: red">
                      Email không được bỏ trống.
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class=" input-group mt-3">
                      <div class="form-floating flex-grow-1">
                        <input *ngIf="status ==0; else city1" type="text" class="form-control" id="city1" required
                               formControlName="city" (click)="changStatusCity1()"
                               [ngClass]="(rfUser.controls['city'].touched) ?
                               (rfUser.controls['city'].errors ? 'is-invalid' : 'is-valid') : '' ">
                        <label for="city1">Tỉnh/Thành :</label>
                        <ng-template #city1>
                          <select formControlName="city" (change)="selectCity()"
                                  class="form-control" id="city"
                                  aria-label=".form-select-sm">
                            <option value="">Chọn Tỉnh/Thành</option>
                            <option *ngFor="let x of cities" [ngValue]="x.id">{{x.name}}</option>
                          </select>
                          <label class="d-flex justify-content-start"
                                 for="city">Tỉnh/Thành :</label>

                        </ng-template>
                      </div>
                      <span class="input-group-text" id="basic-addon10">
                        <i class="fa-solid fa-address-card"></i></span>
                    </div>
                    <div *ngIf="rfUser.controls['city'].hasError('required')
                             && rfUser.controls['city'].touched" style="color: red">
                      Tỉnh/Thành không được bỏ trống.
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class=" input-group mt-3">
                      <div class="form-floating flex-grow-1">
                        <input *ngIf="status == 0; else district1" type="text" class="form-control" id="district1"
                               required
                               formControlName="district" (click)="changStatusDistrict1()"
                               [ngClass]="(rfUser.controls['district'].touched) ?
                               (rfUser.controls['district'].errors ? 'is-invalid' : 'is-valid') : '' ">
                        <label for="district1">Huyện/Quận :</label>
                        <ng-template #district1>
                          <select formControlName="district" (change)="selectDistrict()"
                                  class="form-control" id="district"
                                  aria-label=".form-select-sm">
                            <option value="">Chọn Huyện/Quận</option>
                            <option *ngFor="let x of districts" [ngValue]="x.id">{{x.name}}</option>
                          </select>
                          <label class="d-flex justify-content-start"
                                 for="district">Huyện/Quận :</label>

                        </ng-template>
                      </div>
                      <span class="input-group-text" id="basic-addon11">
                        <i class="fa-regular fa-address-book"></i></span>
                    </div>
                    <div *ngIf="rfUser.controls['district'].hasError('required') &&
                              rfUser.controls['district'].touched" style="color: red">
                      Huyện/Quận thành không được bỏ trống.
                    </div>
                  </div>

                </div>

                <div class="row">
                  <div class="col-lg-6">
                    <div class=" input-group mt-3">
                      <div class="form-floating flex-grow-1">
                        <input *ngIf="status ==0 ; else town1" type="text" class="form-control" id="town1" required
                               formControlName="town" (click)="changStatusTown1()"
                               [ngClass]="(rfUser.controls['town'].touched) ?
                               (rfUser.controls['town'].errors ? 'is-invalid' : 'is-valid') : '' ">
                        <label for="town1">Xã/Phường :</label>
                        <ng-template #town1>
                          <select formControlName="town" (change)="selectWard()"
                                  class="form-control" id="ward"
                                  aria-label=".form-select-sm">
                            <option value="">Chọn Xã/Phường</option>
                            <option *ngFor="let x of wards" [ngValue]="x.id">{{x.name}}</option>
                          </select>
                          <label class="d-flex justify-content-start"
                                 for="ward">Xã/Phường :</label>

                        </ng-template>
                      </div>
                      <span class="input-group-text" id="basic-addon0"><i
                        class="fa-solid fa-location-dot"></i></span>
                    </div>
                    <div *ngIf="rfUser.controls['town'].hasError('required') &&
                     rfUser.controls['town'].touched" style="color: red">
                      Xã/Phường thành không được bỏ trống.
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class=" input-group mt-3">
                      <div class="form-floating flex-grow-1">
                        <input type="text" class="form-control" id="floatingAddress" required
                               formControlName="detailAddress"
                               [ngClass]="(rfUser.controls['detailAddress'].touched) ?
                               (rfUser.controls['detailAddress'].errors ? 'is-invalid' : 'is-valid') : '' ">
                        <label for="floatingAddress">Địa chỉ chi tiết</label>
                      </div>
                      <span class="input-group-text" id="basic-addon9">
                      <i class="fa-solid fa-map-location-dot"></i></span>
                    </div>
                    <div *ngIf="rfUser.controls['detailAddress'].hasError('required')
                             && rfUser.controls['detailAddress'].touched" style="color: red">
                      Địa chỉ chi tiết không được bỏ trống.
                    </div>
                  </div>
                </div>

                <div class="row mt-3">
                  <div class="d-flex">
                    <button type="submit" class="btn btn-primary mx-2">Cập nhật</button>
                    <button type="button" (click)="reset(id)" class="btn btn-warning">Đặt lại</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
