<div class="container-fluid" style="height: 100%">

  <div class="row">
    <div class="col-lg-12">
      <h1 class="mt-5" style="text-align: center">Quản Lý Thành Viên</h1>
      <hr class="mb-5">
      <div class="mt-2 row">
        <form *ngIf="rfSearch " [formGroup]="rfSearch"
              (ngSubmit)="goToPage(0)">
          <div class="row" >
            <div class="col-2">

              <div class="form-floating mb-4">
                <input formControlName="idSearch"
                       type="text" placeholder="Mã thành viên:"
                       id="floatingId" class="form-control form-control-underlined"
                       [ngClass]="(rfSearch.controls['idSearch'].touched) ?
                       (rfSearch.controls['idSearch'].errors ? 'is-invalid': '' ) : '' ">
                <label for="floatingId">Mã thành viên:</label>
              </div>
              <div *ngIf="rfSearch.controls['idSearch'].hasError('pattern')
                             && rfSearch.controls['idSearch'].touched" style="color: red">
                Mã bạn nhập không đúng định dạng.
              </div>
            </div>

            <div class="col-2">
              <div class="form-floating ">
                <input formControlName="nameSearch"
                       id="floatingName" type="text" placeholder="Họ và tên:"
                       class="form-control form-control-underlined"
                       [ngClass]="(rfSearch.controls['nameSearch'].touched) ?
                       (rfSearch.controls['nameSearch'].errors ? 'is-invalid': '' ) : '' ">
                <label for="floatingName">Họ và tên:</label>
              </div>
              <div *ngIf="rfSearch.controls['nameSearch'].hasError('pattern')
                             && rfSearch.controls['nameSearch'].touched" style="color: red">
                Tên bạn nhập không đúng định dạng.
              </div>
            </div>
            <div class="col-2">
              <div class="form-floating mb-4">
                <input formControlName="addressSearch"
                       id="floatingAddress" type="text" placeholder="Địa chỉ:"
                       class="form-control form-control-underlined"
                       [ngClass]="(rfSearch.controls['addressSearch'].touched) ?
                       (rfSearch.controls['addressSearch'].errors ? 'is-invalid': '' ) : '' ">
                <label for="floatingAddress">Địa chỉ:</label>
              </div>
            </div>
            <div class="col-2">
              <div class="form-floating mb-4">
                <input formControlName="emailSearch"
                       id="floatingEmail" type="email" placeholder="Email:"
                       class="form-control form-control-underlined"
                       [ngClass]="(rfSearch.controls['emailSearch'].touched) ?
                       (rfSearch.controls['emailSearch'].errors ? 'is-invalid': '' ) : '' ">
                <label for="floatingEmail">Email:</label>
              </div>
            </div>
            <div class="col-2">
              <div class="form-floating mb-4">
                <select formControlName="userTypeSearch" class="form-select form-control-underlined "
                        style="padding-left: 3px"
                        name="classroomSearch">
                  <option value="" selected>--Chọn--</option>
                  <option *ngFor="let item of userTypeList" value="{{item.id}}">{{item.name}}</option>
                </select>
                <label class="d-flex justify-content-start" style="padding-left: 0" for="floatingEmail">Xếp
                  hạng:</label>
              </div>
            </div>
            <div class="col-2 ">
              <button type="submit" class="btn btn-primary myMT btn0" data-bs-toggle="modal"
                      [disabled]="!rfSearch.valid" >
                <i class="fa-solid fa-magnifying-glass"></i> Lọc kết quả
              </button>
            </div>
          </div>
        </form>

        <div class="row" style="height: 50px">
          <div class="col-1">
            <button class="btn btn-primary btn0" data-bs-toggle="modal" routerLink="/user/add">
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
          <div class="col-2">
            <button class="btn btn-primary btn0" data-bs-toggle="modal"
                    (click)="sendToUnlockGroupModal()" data-bs-target="#deleteGroupModal"
                    [disabled]="unlockIds.length == 0">
              <i class="fa-solid fa-unlock"></i> Mở khoá
            </button>
          </div>
          <div class="col-2">
            <button class="btn btn-danger btn0 " data-bs-toggle="modal" (click)="lockUser()"
                    [disabled]="unlockIds.length == 0" >
              <i class="fa-solid fa-lock"></i> Khoá
            </button>
          </div>
          <div class="col-5">
          </div>
          <div class="col-2">
            <button class="btn btn-success" data-bs-toggle="modal"
                    style="margin-left: 19px"
                    [disabled]="!rfSearch.valid" (click)="resetFormAndData()" >
              <i class="fa-solid fa-rotate-left"></i> Hoàn tác lọc
            </button>
          </div>
        </div>
        <div class=" mt-4 row container" style="padding-left: 2%;">
          <table class="  mt-2 table table-striped table-bordered">
            <thead>
            <tr>
              <th>STT</th>
              <th>Tên thành viên</th>
              <th style="width: 268px"> Địa chỉ</th>
              <th>Xếp hạng</th>
              <th>Email</th>
              <th>SĐT</th>
              <th> Sửa </th>
              <th width="131px"> Trạng thái </th>
              <th class="text-center">
                <input type="checkbox" (click)="addAllToUnlock()" >
              </th>
            </tr>
            </thead>
            <tbody *ngIf="pageUsers != null">
            <tr *ngFor="let x of pageUsers.content; let i = index ">
              <td>{{pageUsers.number * 5 + i + 1}}</td>
              <td>{{x.lastName}} {{x.firstName}} </td>
              <td>{{x.address.town}}, {{x.address.district}}, {{x.address.city}} </td>
              <td>{{x.userType.name}}</td>
              <td>{{x.email}}</td>
              <td>{{x.phone}}</td>
              <td>
                <a  [routerLink]="['/user/edit',x.id]">
                  <i class="fa-solid fa-pen-to-square"
                     style="color: darkgoldenrod ; padding-left: 20px"></i>
                </a>
              </td>
              <td>
                <button *ngIf="!x.account.statusLock ; else no" type="button" class="btn "
                        data-bs-toggle="modal"  data-bs-target="#modalUnlock"
                        (click)="modalById(x.id)"><p style="color: red">Đang khoá</p>
                </button>
                <ng-template #no>
                  <button type="button" class="btn btn0 " data-bs-toggle="modal"
                          (click)="modalById1(x.id)"><p style="color: #0088ff">Bình thường</p>
                  </button>
                </ng-template>
              </td>
              <td class="text-center">
                <input class="delete-checkbox" type="checkbox" [checked]="unlockIds.includes(x.id)"
                       (click)="addToUnlock(x.id)"/>
              </td>
            </tbody>
          </table>
          <h1 *ngIf="pageUsers == null" style="color: red; text-align: center">Không tìm thấy </h1>

          <!--Phân trang-->
          <nav *ngIf="pageUsers != null" aria-label="Page navigation example" class="p-0 d-flex justify-content-end">
            <ul class="pagination">
              <li class="page-item" [ngClass]="pageUsers.number == 0 ? 'disabled' : ''">
        <span class="page-link" (click)="goToPage(pageUsers.number - 1)">
          Trang trước
        </span>
              </li>
              <li *ngFor="let pageNumber of [].constructor(pageUsers.totalPages); let i = index" class="page-item"
                  [ngClass]="i == pageUsers.number ? 'active' : ''">
                <span (click)="goToPage(i)" class="page-link">{{i + 1}}</span>
              </li>
              <li class="page-item" [ngClass]="pageUsers.totalPages == pageUsers.number+1 ? 'disabled' : ''">
                <a class="page-link" (click)="goToPage(pageUsers.number + 1)">Trang sau</a>
              </li>
            </ul>
          </nav>

        </div>
        <div>

        </div>

      </div>
    </div>
  </div>
</div>

<!--Modal mở Khoá-->
<div *ngIf="user" class="modal fade" id="modalUnlock" tabindex="-1" aria-labelledby="exampleModalLabel-Unlock"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-Unlock">Xác nhận</h5>

        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div>
          Mở khoá thành viên có <strong>Mã thành viên là: </strong>
          <strong *ngFor="let item of unlockUsers" style="color: red">{{item.id}}</strong>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
          <button id="deleteAccept" class="btn btn-warning" data-bs-dismiss="modal"
                  (click)="unlock()">Xác nhận
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteGroupModal" tabindex="-1" role="dialog"
     aria-labelledby="deleteModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Xác nhận</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Mở khoá thành viên có <strong>Mã thành viên là: </strong>
        <div>
          <p>
            <strong *ngFor="let item of unlockUsers, let i = index" style="color: red">
              {{item.id}}<span *ngIf="i != unlockUsers.length - 1">,</span></strong> ?
          </p>

        </div>
        <div class="modal-footer">
          <button id="deleteCancel" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ bỏ</button>
          <button id="deleteAccept1" class="btn btn-warning" data-bs-dismiss="modal"
                  (click)="unlock()">Xác nhận
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
