<div>
  <div>
    <table class="table" style="font-size: 14px">
      <thead>
      <tr>
        <th scope="col">Tên Tài Khoản</th>
        <th scope="col">Điểm Cống Hiến</th>
        <th scope="col">Xếp Hạng</th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      <tr>
        <td>{{productAuction?.user.firstName}} {{productAuction?.user.lastName}}</td>
        <td>{{productAuction.user.pointDedication}}</td>
        <td>{{productAuction.user.userType.name}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
