<!--Created by ChauPTM
    Screen: Order Status
    DateCreate: 15/12/2022
-->
<div class="container-fluid p-4 mx-0" #content>
  <div class="row">
    <div class="col-lg-9 col-md-12 col-sm-12 pe-3 ">
      <h2>Thanh toán</h2>
      <ul class="nav nav-pills mb-3 col-12" id="pills-tab" role="tablist">
        <li class="nav-item bg-muted col-lg-4 col-md-12 col-sm-12 col-xs-12  " role="presentation">
          <button class="nav-link " id="pills-home-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-home" type="button" role="tab"
                  aria-controls="pills-home" aria-selected="true"
                  style="margin: 0 auto; width: 100%; height: 30px;">Địa chỉ thanh toán
          </button>
        </li>
        <li class="nav-item col-lg-4 col-md-12 col-sm-12 col-xs-12 " role="presentation">
          <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-profile" type="button" role="tab"
                  aria-controls="pills-profile" aria-selected="false"
                  style="margin: 0 auto; width: 100%;height: 30px;">Hình thức giao hàng
          </button>
        </li>
        <li class="nav-item col-lg-4 col-md-12 col-sm-12 col-xs-12 " role="presentation">
          <button class="nav-link active" id="pills-contact-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-contact" type="button" role="tab"
                  aria-controls="pills-contact" aria-selected="false"
                  style="margin: 0 auto; width: 100%;height: 030px;">Tình trạng đơn hàng
          </button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade " id="pills-home" role="tabpanel"
             aria-labelledby="pills-home-tab" tabindex="0">...
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
             aria-labelledby="pills-profile-tab" tabindex="0">...
        </div>
        <div class="tab-pane fade show active" id="pills-contact" role="tabpanel"
             aria-labelledby="pills-contact-tab" tabindex="0">
          <div class="row">
            <div class="col-lg-12 ps-3 p-3 text-center" style="background-color:#fb7f3ca8;">
              <p><strong>Để nhận sản phẩm đã thắng vui lòng chuyển khoản {{paymentBill}} VND tới
                Asia Commercial Bank số tài khoản: 244972449</strong></p>
              <p>Để nhận được sử lý đơn hàng nhanh nhất vui lòng điền số hóa đơn hoặc tài
                khoản trong mục "reference" khi chuyển khoản.</p>
            </div>
          </div>
          <div class="row pe-3 p-3" style="background-color: rgb(255 221 217 / 10%);">
            <div class="col-6 pe-3 p-3">
              <h6><i class="fa-solid fa-cash-register"></i> Hình thức thanh toán đã chọn</h6>
              <div class="col-lg-6">ATM/Chuyển khoản
              </div>
            </div>
            <div class="col-6 pe-3 p-3">
              <h6><i class="fa-solid fa-money-check"></i> Đơn hàng ORD30408909</h6>
              <p> Hạn thanh toán 07-04-2020 </p>
            </div>
          </div>
          <div class="row pe-3 p-3" id="info" style="background-color: rgb(255 221 217 / 10%);">
            <div class="col-6 mt-3" *ngIf="paymentList" style="text-align: left">
              <h6>{{paymentList[0].firstName + paymentList[0].lastName}}</h6>
              <p>{{paymentList[0].city}} </p>
              <p>{{paymentList[0].country}} </p>
              <p>{{paymentList[0].district}} </p>
              <p>{{paymentList[0].address}}</p>
            </div>
            <div class="col-6 mt-3" style="text-align: right">
              <h6>Chilindo Company Limited</h6>
              <p> Room 303, East Ocean Centre </p>
              <p> 98 Granvile Road </p>
              <p> Tsimshatsui East </p>
              <p> Hong Kong </p>
            </div>
          </div>
          <div class="row pe-3 p-3" style="background-color: rgb(255 221 217 / 10%);">
            <div class="col-2">
              <i style="font-size: 500%" class="fa-solid fa-triangle-exclamation"></i>
            </div>
            <div class="col-10">
              <p>Nếu bạn không chuyển khoản số tiền chính xác, hoặc kết hợp nhiều đơn hàng, vui lòng
                gửi bản sao phiếu thanh toán cùng số đơn hàng (ORD) tới</p>
              <p><i class="fa-solid fa-envelope"></i> Email: support.vn.@chilindo.com | <i
                class="fa-brands fa-facebook"></i> Facebook</p>
            </div>
          </div>
          <div class="row mx-0 mb-2 mt-2" style="background-color: #fc5d4e; text-align: center">
            <p style="margin-top: 5px;margin-bottom: 5px; color: white"><i class="fa-solid fa-bolt"></i> ECONOMY
              DELIVERY</p>
          </div>
          <div class="row mb-3 pe-3 p-3" style="background-color: rgb(255 221 217 / 10%);">
            <div class="col-4">
              <p>ĐƠN HÀNG</p>
              <h6>ORD30408908</h6>
            </div>
            <div class="col-4">
              <p>ĐƠN VỊ VẬN CHUYỂN</p>
              <h5>ECONOMY DELIVERY</h5>
            </div>
            <div class="col-4">
              <p>PHƯƠNG THỨC THANH TOÁN</p>
              <h5>BANKWIRE</h5>
            </div>
          </div>
          <div class="row mb-3" style="background-color: #d53422;">
            <p class="mt-1 ps-3 p-0 mb-1 text-light"><strong>Đơn hàng(#30408908): Đơn hàng được giao
              từ ngày 12 tháng 12 đến ngày 15 tháng 12</strong></p>
          </div>
          <div class="row p-0 mb-3">
            <div class="col-12 ps-3 px-3" style="background-color: rgb(255 221 217 / 10%);">
              <table class="table mt-3 mb-3 ms-0">
                <thead>
                <tr class="mt-3 mb-3 ms-0">
                  <th>Sản phẩm</th>
                  <th style="text-align: center">Số lượng</th>
                  <th style="text-align: right">Giá/ Từng phần</th>
                </tr>
                </thead>
                <tbody>
                <tr class="mt-3 mb-3" *ngFor="let x of paymentList">
                  <td>{{x.productName}}</td>
                  <td style="text-align: center;">1</td>
                  <td style="text-align: right">{{x.productPrice}}</td>
                </tr>
                <tr>
                  <td colspan="2">Giao hàng</td>
                  <td style="text-align: right">49.000</td>
                </tr>
                <tr *ngIf="paymentBill">
                  <td><strong>Tổng</strong></td>
                  <td style="text-align: center;">{{paymentList.length}}</td>
                  <td style="text-align: right"><strong><i class="fa-solid fa-dong-sign"></i> {{paymentBill}}
                  </strong></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row mb-3" style="rgb(255 221 217 / 10%);">
            <div class="col-6">
              <div class="mt-3 ps-3 p-0 mb-3">
                <h6>Chi tiết đơn hàng</h6>
                <p>Thanh toán chuyển tới: Asia Commerical Bank</p>
                <p>Số tài khoản: 244972449</p>
              </div>
            </div>
            <div class="col-6" style="text-align: right">
              <div class="mt-3 ps-3 pe-3 p-0 mb-3">
                <h6>Thông tin khác</h6>
                <p>Giấy phép DKKD số: 2090130</p>
                <p>Hỗ trợ khách hàng: (028)-090123090</p>
                <p>Liên hệ phòng kinh doanh: <a href="#">support@chilindo.com</a></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 mt-4 ">
      <div class="card mb-3 " style="max-width: 18rem;">
        <div class="card-body pe-2 p-2 text-light">
          <h5 class="card-title ">Có câu hỏi?</h5>
          <p class="card-text">Vui lòng liên hệ bộ phận hỗ trợ 24 giờ của chúng tôi.</p>
        </div>
        <div class="card-footer pe-2 p-2 bg-light " style="color: #fa6132;">SĐT.(028)-090123090</div>
      </div>
    </div>
  </div>
  <div style="display: flex; justify-content: center;  align-items: center">
    <button type="button" class="btn btn-primary"  data-bs-toggle="modal"
            data-bs-target="#exampleModal" style="background-color: #d53422;">
      In hóa đơn
    </button>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Hủy"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="convertToPDF()">In</button>
      </div>
    </div>
  </div>
</div>
