<!--Created by ChauPTM
    Screen: Order Status
    DateCreate: 15/12/2022
-->
<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md-12 col-sm-12 pe-3 ">
      <h2>Thanh toán</h2>
      <ul class="nav nav-pills mb-3 col-12" style="pointer-events: none" id="pills-tab" role="tablist">
        <li class="nav-item bg-muted col-lg-4 col-md-12 col-sm-12 col-xs-12  " role="presentation">
          <button class="nav-link active " id="pills-home-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-home" type="button" role="tab"
                  aria-controls="pills-home" aria-selected="true"
                  style="width: 100%;">1 Địa chỉ thanh toán
          </button>
        </li>
        <li class="nav-item col-lg-4 col-md-12 col-sm-12 col-xs-12 " role="presentation">
          <button class="nav-link pills-profile-tab" id="pills-profile-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-profile" type="button" role="tab"
                  aria-controls="pills-profile" aria-selected="false"
                  style="width: 100%;">2 Hình thức thanh toán
          </button>
        </li>
        <li class="nav-item col-lg-4 col-md-12 col-sm-12 col-xs-12 " role="presentation">
          <button class="nav-link pills-contact-tab " id="pills-contact-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-contact" type="button" role="tab"
                  aria-controls="pills-contact" aria-selected="false"
                  style=" width: 100%;"> 3 Tình trạng đơn hàng
          </button>
        </li>
      </ul>

      <!--      Content tab-->
      <div class="tab-content pe-0" id="pills-tabContent">

        <!--        Địa chỉ thanh toán-->
        <div class="tab-pane show active fade mb-3 ps-3 " id="pills-home" role="tabpanel"
             aria-labelledby="pills-home-tab" tabindex="0">
          <div class="row">
            <div class="row">
              <div class="col-lg-6 ">
                <div class=" input-group form-floating mb-3 ps-0">
                  <input type="text" disabled class="form-control" id="ten"
                         value="{{paymentList[0].firstName}}">
                  <label for="ten"><span style="color: red"> * </span>Họ</label>
                  <span class="input-group-text"><i
                    class="fa-solid fa-user "></i></span>
                </div>
              </div>
              <div class="col-lg-6 ">
                <div class=" input-group form-floating mb-3">
                  <input type="text" disabled class="form-control" id="ho"
                         placeholder="name@example.com"
                         aria-label="name@example.com" aria-describedby="basic-addon2"
                         value="{{paymentList[0].lastName}}">
                  <label for="ho"><span style="color: red"> * </span>Tên</label>
                  <span class="input-group-text"><i
                    class="fa-solid fa-user "></i></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 ">
                <div class=" input-group form-floating mb-3">
                  <input type="text" disabled class="form-control" id="floatingPhone" placeholder="name@example.com"
                         aria-label="name@example.com" aria-describedby="basic-addon2"
                         value="{{paymentList[0].phone}}">
                  <label for="floatingPhone"><span style="color: red"> * </span>Số điện thoại</label>
                  <span class="input-group-text"><i class="fa-solid fa-phone-flip "></i></span>
                </div>
              </div>
              <div class="col-lg-6 ">
                <div class=" input-group form-floating mb-3">
                  <input type="email" class="form-control" id="mail"
                         placeholder="name@example.com"
                         aria-label="name@example.com" disabled aria-describedby="basic-addon2"
                         value="{{paymentList[0].email}}">
                  <label for="mail"><span style="color: red"> * </span>Email</label>
                  <span class="input-group-text" id="basic-addon6"><i
                    class="fa-solid fa-envelope "></i></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 ">
                <div class=" input-group form-floating mb-3">
                  <input type="text" disabled class="form-control" id="quocgia"
                         placeholder="name@example.com"
                         aria-label="name@example.com" aria-describedby="basic-addon2"
                         value="{{paymentList[0].country}}">
                  <label for="quocgia"><span style="color: red"> * </span>Quốc Gia</label>
                  <span class="input-group-text" id="basic-addon0"><i
                    class="fa-solid fa-earth-africa "></i></span>
                </div>
              </div>
              <div class="col-lg-6 ">
                <div class=" input-group form-floating mb-3">
                  <input type="text" disabled class="form-control" id="thanhpho"
                         placeholder="name@example.com"
                         aria-label="name@example.com" aria-describedby="basic-addon2"
                         value="{{paymentList[0].city}}">
                  <label for="thanhpho"><span style="color: red"> * </span>Thành Phố/Tỉnh</label>
                  <span class="input-group-text"><i
                    class="fa-solid fa-location-dot"></i></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 ">
                <div class=" input-group form-floating mb-3">
                  <input type="text" class="form-control" id="quanhuyen"
                         placeholder="name@example.com"
                         aria-label="name@example.com" disabled aria-describedby="basic-addon2"
                         value="{{paymentList[0].district}}">
                  <label for="quanhuyen"><span style="color: red"> * </span>Quận/Huyện</label>
                  <span class="input-group-text"><i
                    class="fa-solid fa-location-dot"></i></span>
                </div>
              </div>
              <div class="col-lg-6 ">
                <div class=" input-group form-floating mb-3">
                  <input type="text" class="form-control" id="phuongxa"
                         placeholder="name@example.com"
                         aria-label="name@example.com" disabled aria-describedby="basic-addon2"
                         value="{{paymentList[0].town}}">
                  <label for="phuongxa"><span style="color: red"> * </span>Phường /Xã</label>
                  <span class="input-group-text"><i
                    class="fa-solid fa-location-dot"></i></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class=" input-group form-floating mb-3">
                  <input type="text" class="form-control" id="floatingAddress"
                         placeholder="name@example.com"
                         aria-label="name@example.com" disabled aria-describedby="basic-addon2"
                         value="{{paymentList[0].detailAddress}}">
                  <label for="floatingAddress"><span style="color: red"> * </span>Địa Chỉ</label>
                  <span class="input-group-text" id="basic-addon7"><i
                    class="fa-solid fa-location-dot "></i></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 mb-2">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked
                         (click)="changeDisplay1()">
                  <label class="form-check-label" for="flexRadioDefault1">
                    Địa chỉ giao hàng cũng là địa chỉ của tôi
                  </label>
                </div>
              </div>
              <div class="col-lg-6 mb-2">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                         (click)="changeDisplay()">
                  <label class="form-check-label" for="flexRadioDefault2">
                    Thêm địa chỉ giao hàng mới
                  </label>
                </div>
              </div>
            </div>
            <div class="row" [hidden]="isShown">
              <div class="col-lg-12">
                <div class=" input-group form-floating mb-3">
                  <textarea class="form-control" style="height: 150px;" [(ngModel)]="description" id="huongdan2"
                            aria-describedby="basic-addon2"></textarea>
                  <label for="huongdan2">- Họ và tên người nhận hàng <br>- Thông tin người nhận thay (nếu có) <br>-
                    Thông tin địa chỉ giao hàng cụ thể <br>- Số điện thoại liên lạc <br> - Hướng dẫn giao hàng</label>
                  <span class="input-group-text" id="basic-addon2">  <i
                    class="fa-solid fa-comment "></i></span>
                </div>
              </div>
            </div>
            <div class="row" style="display: flex; justify-content: center;  align-items: center">
              <div class="col-3 pe-3">
                <a (click)="goToPay()" style="background-color: #d53422; border-color:#d53422 " type="button"
                   class="btn btn-primary">
                  Tiếp theo
                </a>
              </div>
            </div>
          </div>
        </div>

        <!--        Hình thức giao hàng-->
        <div class="tab-pane fade mb-3 " id="pills-profile" role="tabpanel"
             aria-labelledby="pills-profile-tab" tabindex="0">
          <div class="row">
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12 mb-3">
                  <img src="https://toplist.vn/images/800px/3-shipantoan-117725.jpg" width=100%>
                </div>
                <div class="col-12">
                  <h6><input type="radio" checked> Hình thức giao hàng tận nhà</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <h6><span style="color: red">*</span> Mời bạn chọn hình thức thanh toán</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4" style="display: {{display}}" id="paypalBtn">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--        Tình trạng đơn hàng-->
        <div class="tab-pane fade mb-3 " id="pills-contact" role="tabpanel"
             aria-labelledby="pills-contact-tab" tabindex="0">
          <!--          New Content-->
          <div class="container-fluid mb-3" id="content">
            <div class="row ">
              <div class="row">
                <div class="col-12 mt-3" style="text-align: center">
                  <h1>HÓA ĐƠN</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-6 mt-2" style="border: 1px dotted #250303; text-align: center">
                  <p>Mã vận đơn: RA0126D{{paymentList[0].id}}</p>
                </div>
                <div class="col-6 mt-2" style="border: 1px dotted #250303; text-align: center">
                  <p>Mã vận đơn: RA0126D{{paymentList[0].id}}</p>
                </div>
              </div>

              <div class="row">
                <div class="col-6" style="border: 1px dotted #250303;">
                  <strong>Từ: </strong> <br> Đấu giá C06 Company <br> 280 Trần Hưng Đạo, Hải Châu, TP. Đà Nẵng.
                </div>
                <div class="col-6 " style="border: 1px dotted #250303;">
                  <strong>Đến: </strong> <br> {{paymentList[0].firstName + " " + paymentList[0].lastName }} <br>
                  {{paymentList[0].detailAddress + ", " + paymentList[0].district + ", " + paymentList[0].city + ", " +
                paymentList[0].country}}
                </div>
              </div>
              <div class="row">
                <div class="col-12 " style="text-align: center; border: 1px dotted #250303;">
                  <h2>180-G-05-{{paymentList[0].id}}</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-12 " style="border: 1px dotted #250303;">
                  <table class="table mt-3 mb-3 ms-0">
                    <thead>
                    <tr class="mt-3 mb-3 ms-0">
                      <th>Sản phẩm</th>
                      <th style="text-align: center">Số lượng</th>
                      <th style="text-align: right">Giá/ Từng phần</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="mt-3 mb-3" *ngFor="let x of paymentList">
                      <td>{{x.productName}}</td>
                      <td style="text-align: center;">1</td>
                      <td style="text-align: right"> {{x.productPrice | number}}<sup><i
                        class="fa-solid fa-dong-sign"></i></sup>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">Giao hàng</td>
                      <td style="text-align: right">49,000<sup><i class="fa-solid fa-dong-sign"></i></sup></td>
                    </tr>
                    <tr *ngIf="paymentBill">
                      <td><strong>Tổng</strong></td>
                      <td style="text-align: center;">{{paymentList.length}}</td>
                      <td style="text-align: right"><strong> {{paymentBill | number}}<sup><i
                        class="fa-solid fa-dong-sign"></i></sup>
                      </strong></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="col-12 " style="border: 1px dotted #250303;">
                  <p>Nếu bạn không chuyển khoản số tiền chính xác, hoặc kết hợp nhiều đơn hàng, vui lòng
                    gửi bản sao phiếu thanh toán cùng số đơn hàng (ORD00A{{paymentList[0].id}}) tới</p>
                  <p><i class="fa-solid fa-envelope"></i> Email: support@codegym.com | <i
                    class="fa-brands fa-facebook"></i> Facebook</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 " style="border: 1px dotted #250303;">
                  <div class="mt-2 mb-2 "><strong>Kiểm tra tên sản phẩm và đối chiếu Mã vận đơn/ Mã đơn hàng trên ứng
                    dụng
                    Auction Web trước khi nhận hàng (Lưu ý: Một số sản phẩm có thể bị ẩn do danh sách quá dài)</strong>
                  </div>
                  <div class="mt-2 mb-2 ">Để nhận được xử lý đơn hàng nhanh nhất vui lòng điền số hóa đơn hoặc tài
                    khoản trong mục "reference" khi chuyển khoản hoặc có thể liên hệ qua hotline 090.999.999
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-8 " style="border: 1px dotted #250303;">
                  - Đơn hàng đã được thanh toán thông qua PAYPAL <br>- Đơn vị vận chuyển ECONOMY DELIVERY <br>- Khách
                  hàng
                  theo đõi mã vận đơn RA0126D{{paymentList[0].id}} để theo dõi quá trình vận chuyển của đơn hàng <br>-
                  Chỉ định giao hàng: Không đồng kiểm. Chuyển hoàn sau 3 lần phát. Lưu kho tối đa 5 ngày
                </div>
                <div class="col-4 " style="border: 1px dotted #250303;">
                  Khối lượng tối đa: 810 g <br> <strong>Chữ ký người nhận</strong><br>(Xác nhận hàng nguyeen vẹn, không
                  móp/méo, bể/vỡ)
                </div>
              </div>
              <div class="row">
                <div class="col-6 " style="border: 1px dotted #250303;">
                  <div class="mt-3 ps-3 p-0 mb-3">
                    <h6>Chi tiết đơn hàng</h6>
                    <p>Thanh toán chuyển tới: Asia Commerical Bank</p>
                    <p>Số tài khoản: 244972449</p>
                  </div>
                </div>
                <div class="col-6 " style="border: 1px dotted #250303;">
                  <div class="mt-3 ps-3 pe-3 p-0 mb-3">
                    <h6>Thông tin khác</h6>
                    <p>Giấy phép DKKD số: 2090130</p>
                    <p>Hỗ trợ khách hàng: 090.999.999</p>
                    <p>Liên hệ phòng kinh doanh: <a href="#">support@codegym.com</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="display: flex; justify-content: center;  align-items: center">
            <button type="button" class="btn btn-primary"
                    style="background-color: #d53422;border-color: #d53422; width: 150px;"
                    data-bs-toggle="modal" data-bs-target="#exampleModal">
              In hóa đơn
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 mt-5 ">
      <div class="row">
        <div class="card mb-3 px-0" style="border-color: #fa6132;">
          <div class="card-body text-light">
            <h5 class="card-title ">Có câu hỏi?</h5>
            <p class="card-text">Vui lòng liên hệ bộ phận hỗ trợ 24 giờ của chúng tôi.</p>
          </div>
          <div class="card-footer bg-light " style="color: #fa6132;">SĐT: 090.999.999</div>
        </div>
        <div class="card mb-3 px-0 " style="border-color: #fa6132;">
          <div class="card-body text-light">
            <h5 class="card-title "> Tổng kết đơn hàng</h5>
            <p class="card-text">Giao hàng tiêu chuẩn: 49,000 vnđ</p>
            <p class="card-text">Tổng đơn hàng: {{(paymentBill - 49000) | number}} vnđ</p>
          </div>
          <div class="card-footer  bg-light " style="color: #fa6132;">Tổng tiền thanh toán: {{paymentBill | number}}
            vnđ
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal modal-lg fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="border-color: #fff;">
      <div class="modal-header">
        <h1 class="modal-title fs-5" style="margin-left: 200px" id="exampleModalLabel">Bạn Có Muốn In Hóa Đơn
          Không?</h1>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-12 mt-3" style="text-align: center">
              <h1>HÓA ĐƠN</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-6 mt-2" style="border: 1px dotted #250303; text-align: center">
              <p>Mã vận đơn: RA0126D{{paymentList[0].id}}</p>
            </div>
            <div class="col-6 mt-2" style="border: 1px dotted #250303; text-align: center">
              <p>Mã vận đơn: RA0126D{{paymentList[0].id}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-6" style="border: 1px dotted #250303;">
              <strong>Từ: </strong> <br> Đấu giá C06 Company <br> 280 Trần Hưng Đạo, Hải Châu, TP. Đà Nẵng.
            </div>
            <div class="col-6 " style="border: 1px dotted #250303;">
              <strong>Đến: </strong> <br> {{paymentList[0].firstName + " " + paymentList[0].lastName }} <br>
              {{paymentList[0].detailAddress + ", " + paymentList[0].district + ", " + paymentList[0].city + ", " +
            paymentList[0].country}}
            </div>
          </div>
          <div class="row">
            <div class="col-12 " style="text-align: center; border: 1px dotted #250303;">
              <h2>180-G-05-{{paymentList[0].id}}</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-12 " style="border: 1px dotted #250303;">
              <table class="table mt-3 mb-3 ms-0">
                <thead>
                <tr class="mt-3 mb-3 ms-0">
                  <th>Sản phẩm</th>
                  <th style="text-align: center">Số lượng</th>
                  <th style="text-align: right">Giá/ Từng phần</th>
                </tr>
                </thead>
                <tbody>
                <tr class="mt-3 mb-3" *ngFor="let x of paymentList">
                  <td>{{x.productName}}</td>
                  <td style="text-align: center;">1</td>
                  <td style="text-align: right"> {{x.productPrice | number}}<sup><i
                    class="fa-solid fa-dong-sign"></i></sup>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">Giao hàng</td>
                  <td style="text-align: right">49,000<sup><i class="fa-solid fa-dong-sign"></i></sup></td>
                </tr>
                <tr *ngIf="paymentBill">
                  <td><strong>Tổng</strong></td>
                  <td style="text-align: center;">{{paymentList.length}}</td>
                  <td style="text-align: right"><strong> {{paymentBill | number}}<sup><i
                    class="fa-solid fa-dong-sign"></i></sup>
                  </strong></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-12 " style="border: 1px dotted #250303;">
              <p><strong>Nếu bạn không chuyển khoản số tiền chính xác, hoặc kết hợp nhiều đơn hàng, vui lòng
                gửi bản sao phiếu thanh toán cùng số đơn hàng (ORD00A{{paymentList[0].id}}) tới</strong></p>
              <p><i class="fa-solid fa-envelope"></i> Email: support@codegym.com | <i
                class="fa-brands fa-facebook"></i> Facebook</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 " style="border: 1px dotted #250303;">
              <div class="mt-2 mb-2 "><strong>Kiểm tra tên sản phẩm và đối chiếu Mã vận đơn/ Mã đơn hàng trên ứng dụng
                Auction Web trước khi nhận hàng (Lưu ý: Một số sản phẩm có thể bị ẩn do danh sách quá dài)</strong>
              </div>
              <div class="mt-2 mb-2 ">Để nhận được xử lý đơn hàng nhanh nhất vui lòng điền số hóa đơn hoặc tài
                khoản trong mục "reference" khi chuyển khoản hoặc có thể liên hệ qua hotline 090.999.999
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8 " style="border: 1px dotted #250303;">
              - Đơn hàng đã được thanh toán thông qua PAYPAL <br>- Đơn vị vận chuyển ECONOMY DELIVERY <br>- Khách hàng
              theo đõi mã vận đơn RA0126D{{paymentList[0].id}} để theo dõi quá trình vận chuyển của đơn hàng <br>- Chỉ
              định giao hàng: Không đồng kiểm. Chuyển hoàn sau 3 lần phát. Lưu kho tối đa 5 ngày
            </div>
            <div class="col-4 " style="border: 1px dotted #250303;">
              Khối lượng tối đa: 810 g <br> <strong>Chữ ký người nhận</strong><br>(Xác nhận hàng nguyeen vẹn, không
              móp/méo, bể/vỡ)
            </div>
          </div>
          <div class="row">
            <div class="col-6 " style="border: 1px dotted #250303;">
              <div class="mt-3 ps-3 p-0 mb-3">
                <h6>Chi tiết đơn hàng</h6>
                <p>Thanh toán chuyển tới: Asia Commerical Bank</p>
                <p>Số tài khoản: 244972449</p>
              </div>
            </div>
            <div class="col-6 " style="border: 1px dotted #250303;">
              <div class="mt-3 ps-3 pe-3 p-0 mb-3">
                <h6>Thông tin khác</h6>
                <p>Giấy phép DKKD số: 2090130</p>
                <p>Hỗ trợ khách hàng: 090.999.999</p>
                <p>Liên hệ phòng kinh doanh: <a href="#">support@codegym.com</a></p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                style="background-color: #d53422;border-color: #d53422;" (click)="convertToPDF()">In
        </button>
      </div>
    </div>
  </div>
</div>

