<div class="container">
  <div class="row mt-2">
    <div class="col-lg-12 ">
      <div class="row mt-2 mb-4">
        <div class="col-lg-9">
          <div class="row">
            <h1>Thanh toán</h1>
            <ul class="nav nav-pills mb-3 col-12" id="pills-tab" role="tablist"
                style="color: #2c3034; text-align: center; background-color: whitesmoke; padding-right: 0;">
              <li class="nav-item bg-muted col-lg-4 col-md-12 col-sm-12 col-xs-12  " role="presentation">
                <button class="nav-link " id="pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-home" type="button" role="tab"
                        aria-controls="pills-home" aria-selected="true"
                        style="margin: 0 auto; width: 100%;">Địa chỉ thanh toán
                </button>
              </li>
              <li class="nav-item col-lg-4 col-md-12 col-sm-12 col-xs-12 " role="presentation">
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-profile" type="button" role="tab"
                        aria-controls="pills-profile" aria-selected="false"
                        style="margin: 0 auto; width: 100%;">Hình thức giao hàng
                </button>
              </li>
              <li class="nav-item col-lg-4 col-md-12 col-sm-12 col-xs-12 " role="presentation">
                <button class="nav-link active" id="pills-contact-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-contact" type="button" role="tab"
                        aria-controls="pills-contact" aria-selected="false"
                        style="margin: 0 auto; width: 100%;">Tình trạng đơn hàng
                </button>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade " id="pills-home" role="tabpanel"
                   aria-labelledby="pills-home-tab" tabindex="0">...
              </div>
              <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                   aria-labelledby="pills-profile-tab" tabindex="0">...
              </div>
              <div class="tab-pane fade show active" id="pills-contact" role="tabpanel"
                   aria-labelledby="pills-contact-tab" tabindex="0">
                <div class="row mb-3">
                  <h4>Hình thức thanh toán đã chọn</h4>
                  <div class="col-lg-6" style="background-color: whitesmoke; margin-top: 2px"><p
                    style="margin-top: 10px; text-align: center">ATM/Chuyển khoản</p>
                  </div>
                  <div class="col-lg-6" style="background-color: whitesmoke; margin-top: 2px">
                  </div>
                </div>
                <div class="row mb-4 ">
                  <div class="col-lg-12 text-center" style="background-color: #81a2f54d;">
                    <div class="mb-4 mt-3">
                      <h4>Để nhận sản phẩm đã thắng vui lòng chuyển khoản 534.000 VND tới
                        Asia
                        Commercial Bank số tài khoản: 244972449</h4>
                      <p>Để nhận được sử lý đơn hàng nhanh nhất vui lòng điền số hóa đơn hoặc tài
                        khoản trong mục
                        "reference" khi chuyển khoản.</p>
                    </div>
                  </div>
                </div>
                <div class="row mb-3" style="background-color: white ">
                  <div class="col-6 ">
                    <h4>Đơn hàng ORD30408909</h4>
                    <p> Hạn thanh toán 07-04-2020 </p>
                  </div>
                  <div class="col-6">
                    <img class="center" src="../../../../assets/download.png">
                  </div>
                </div>
                <div class="row mb-3" id="info" style="background-color: #81a2f54d">
                  <div class="col-6 mt-3" style="text-align: left">
                    <h4>Đức Phan</h4>
                    <p>338 Trưng Nữ Vương </p>
                    <p>Việt Nam</p>
                    <p>Đà Nẵng </p>
                    <p>Hải Châu </p>
                    <p>552450 </p>
                  </div>
                  <div class="col-6 mt-3" style="text-align: right">
                    <h4>Chilindo Company Limited</h4>
                    <p> Room 303, East Ocean Centre </p>
                    <p> 98 Granvile Road </p>
                    <p> Tsimshatsui East </p>
                    <p> Hong Kong </p>
                  </div>
                </div>
                <div class="row mb-3" style="background-color: #5187d9; text-align: center">
                  <p style="margin-top: 10px; color: white"><i class="fa-solid fa-bolt"></i> ECONOMY
                    DELIVERY</p>
                </div>
                <div class="row mb-3">
                  <div class="col-4">
                    <p>ĐƠN HÀNG</p>
                    <h4>ORD30408908</h4>
                  </div>
                  <div class="col-4">
                    <p>ĐƠN VỊ VẬN CHUYỂN</p>
                    <h5>ECONOMY DELIVERY</h5>
                  </div>
                  <div class="col-4">
                    <p>PHƯƠNG THỨC THANH TOÁN</p>
                    <h5>BANKWIRE</h5>
                  </div>
                </div>
                <div class="row mb-3" style="background-color: #5187d9">
                  <p class="mt-1 mb-1 mt-1 text-light"><strong>Đơn hàng(#30408908): Đơn hàng được giao
                    từ ngày 12 tháng 12 đến ngày 15 tháng 12</strong></p>
                </div>
                <div class="row mb-3">
                  <table class="table table-success table-striped p-0 ms-0">
                    <thead>
                    <tr>
                      <th>Sản phẩm</th>
                      <th style="text-align: center">Số lượng</th>
                      <th style="text-align: right">Giá/ Từng phần</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td><img id="image" src="../../../../assets/bag.jpg"> Túi xách thời trang</td>
                      <td style="text-align: center;">1</td>
                      <td style="text-align: right">89.000</td>
                    </tr>
                    <tr>
                      <td><img id="image-1" src="../../../../assets/shoes.jpg"> Giày cao gót cao cấp
                      </td>
                      <td style="text-align: center;">1</td>
                      <td style="text-align: right">199.000</td>
                    </tr>
                    <tr>
                      <td><img id="image-2" src="../../../../assets/shoeses.jpg"> Giày cao gót quảng
                        châu
                      </td>
                      <td style="text-align: center;">1</td>
                      <td style="text-align: right">199.000</td>
                    </tr>
                    <tr>
                      <td colspan="2">Giao hàng</td>
                      <td style="text-align: right">49.000</td>
                    </tr>
                    <tr>
                      <td><strong>Tổng</strong></td>
                      <td style="text-align: center;">3</td>
                      <td style="text-align: right"><strong><i class="fa-solid fa-dong-sign"></i>
                        534.000</strong></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row mb-3" style="background-color: whitesmoke">
                  <div class="col-6">
                    <div class="mt-4">
                      <h4>Chi tiết đơn hàng</h4>
                      <p>Thanh toán chuyển tới: Asia Commerical Bank</p>
                      <p>Số tài khoản: 244972449</p>
                    </div>
                  </div>
                  <div class="col-6" style="text-align: right">
                    <div class="mt-4">
                      <h4>Thông tin khác</h4>
                      <p>Giấy phép DKKD số: 2090130</p>
                      <p>Hỗ trợ khách hàng: (028)-090123090</p>
                      <p>Liên hệ phòng kinh doanh: <a href="#">support@chilindo.com</a></p>
                    </div>
                  </div>
                </div>
                <div style="display: flex; justify-content: center; align-items: center">
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                          data-bs-target="#exampleModal">
                    In hóa đơn
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mt-4">
          <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-body text-light">
              <h4 class="card-title">Có câu hỏi?</h4>
              <p class="card-text">Vui lòng liên hệ bộ phận hỗ trợ 24 giờ của chúng tôi.</p>
            </div>
            <div class="card-footer text-primary bg-light border-success">SĐT.(028)-090123090</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade col-lg-12 col-md-12 col-sm-12" id="exampleModal" tabindex="-1"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="width: 1000px;">
        <div class="modal-header">
          <h1 class="modal-title fs-5 justify-content-center" id="exampleModalLabel"
              style="margin-left: 450px">HÓA ĐƠN</h1>
        </div>
        <div class="modal-body col-lg-12 col-sm-12 col-md-12">
          <div class="container">
            <div class="row mb-4 ">
              <div class="col-lg-12 text-center" style="background-color: #81a2f54d;">
                <div class="mb-4 mt-3">
                  <h4>Để nhận sản phẩm đã thắng vui lòng chuyển khoản 146.900 tới
                    Asia
                    Commercial Bank số tài khoản: 244972449</h4>
                  <p>Để nhận được sử lý đơn hàng nhanh nhất vui lòng điền số hóa đơn hoặc tài
                    khoản trong mục
                    "reference" khi chuyển khoản.</p>
                </div>
              </div>
            </div>
            <div class="row mb-3" style="background-color: white ">
              <div class="col-6 ">
                <h4>Đơn hàng ORD30408909</h4>
                <p> Hạn thanh toán 07-04-2020 </p>
              </div>
              <div class="col-6">
                <img class="center" src="../utils/image/download.png">
              </div>
            </div>
            <div class="row mb-3" style="background-color: #81a2f54d">
              <div class="col-6 mt-3" style="text-align: left">
                <h4>Duc Phan</h4>
                <p>338 Trung Nu Vuong</p>
                <p>Vietnam </p>
                <p>Đà Nẵng </p>
                <p>Hải Châu </p>
                <p>552450 </p>
              </div>
              <div class="col-6 mt-3" style="text-align: right">
                <h4>Chilindo Company Limited</h4>
                <p> Room 303, East Ocean Centre </p>
                <p> 98 Granvile Road </p>
                <p> Tsimshatsui East </p>
                <p> Hong Kong </p>
              </div>
            </div>
            <div class="row mb-3" style="background-color: #5187d9; text-align: center">
              <p style="margin-top: 10px; color: white"><i class="fa-solid fa-bolt"></i> ECONOMY
                DELIVERY</p>
            </div>
            <div class="row mb-3">
              <div class="col-4">
                <p>ĐƠN HÀNG</p>
                <h4>ORD30408908</h4>
              </div>
              <div class="col-4">
                <p>ĐƠN VỊ VẬN CHUYỂN</p>
                <h5>ECONOMY DELIVERY</h5>
              </div>
              <div class="col-4">
                <p>PHƯƠNG THỨC THANH TOÁN</p>
                <h5>BANKWIRE</h5>
              </div>
            </div>
            <div class="row mb-3">
              <table class="table table-success table-striped p-0 ms-0">
                <thead>
                <tr>
                  <th>Sản phẩm</th>
                  <th style="text-align: center">Số lượng</th>
                  <th style="text-align: right">Giá/ Từng phần</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Túi xách thời trang</td>
                  <td style="text-align: center;">1</td>
                  <td style="text-align: right">89.000</td>
                </tr>
                <tr>
                  <td>Giày cao gót cao cấp</td>
                  <td style="text-align: center;">1</td>
                  <td style="text-align: right">199.000</td>
                </tr>
                <tr>
                  <td>Giày cao gót Quảng Châu</td>
                  <td style="text-align: center;">1</td>
                  <td style="text-align: right">199.000</td>
                </tr>
                <tr>
                  <td colspan="2">Phí dịch vụ 10%</td>
                  <td style="text-align: right">48.700</td>
                </tr>
                <tr>
                  <td colspan="2">Giao hàng</td>
                  <td style="text-align: right">49.000</td>
                </tr>
                <tr>
                  <td colspan="2"><strong>Tổng</strong></td>
                  <td style="text-align: right"><strong><i class="fa-solid fa-dong-sign"></i> 582.700</strong></td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="row mb-3">
              <div class="col-2">
                <i style="font-size: 500%" class="fa-solid fa-triangle-exclamation"></i>
              </div>
              <div class="col-10">
                <p>Nếu bạn không chuyển khoản số tiền chính xác, hoặc kết hợp nhiều đơn hàng, vui lòng
                  gửi bản sao phiếu thanh toán cùng số đơn hàng (ORD) tới</p>
                <p><i class="fa-solid fa-envelope"></i> Email: support.vn.@chilindo.com | <i
                  class="fa-brands fa-facebook"></i> Facebook</p>
              </div>

            </div>
            <div class="row mb-3" style="background-color: whitesmoke">
              <div class="col-6">
                <div class="mt-4">
                  <h4>Chi tiết đơn hàng</h4>
                  <p>Thanh toán chuyển tới: Asia Commerical Bank</p>
                  <p>Số tài khoản: 244972449</p>
                </div>
              </div>
              <div class="col-6" style="text-align: right">
                <div class="mt-4">
                  <h4>Thông tin khác</h4>
                  <p>Giấy phép DKKD số: 2090130</p>
                  <p>Hỗ trợ khách hàng: (028)-090123090</p>
                  <p>Liên hệ phòng kinh doanh: <a href="#">support@chilindo.com</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer" style="display: flex; justify-content: center; align-items: center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">In</button>
        </div>
      </div>
    </div>
  </div>
</div>
