<div class="container bg-white h-100 d-flex flex-column">
  <div class="auction d-flex align-items-center">
    <div class="row d-flex ms-auto me-5">
      <div class="boxed shadow-md h-100 ms-auto">
        <form *ngIf="formCreateProduct" class="form" [formGroup]="formCreateProduct" (ngSubmit)="addNewProduct()">
          <fieldset>
            <legend>
              <div class="mt-4 text-center">
                <h1>Yêu cầu đấu giá</h1>
              </div>
            </legend>
          </fieldset>
          <div class="mb-2">
            <div class="form-field d-flex align-items-center mb-2">
              <object data="assets/icons/interface-edit.svg" width="20" height="20"></object>
              <label class="ms-2">Tên sản phẩm<span style="color: red"> (*)</span>:</label>
            </div>
            <input formControlName="name" id="name" type="text" class="form-control" placeholder="Nhập tên sản phẩm"
                   [ngClass]="formCreateProduct.controls['name'].invalid ?'is-invalid':'is-valid'"/>
            <div class="invalid-feedback">
              <div *ngIf="formCreateProduct.controls['name'].errors?.required
        && (formCreateProduct.controls['name'].touched)">
                Không được bỏ trống
              </div>
            </div>
          </div>
          <div class="mb-2">
            <div class="d-flex align-items-center mb-2">
              <object data="assets/icons/dollar.svg" width="20" height="20"></object>
              <label class="ms-2">Giá ban đầu<span style="color: red"> (*)</span>:</label>
            </div>
            <input formControlName="initialPrice" id="initialPrice" type="text" class="form-control"
                   placeholder="Nhập giá ban đầu"
                   [ngClass]="formCreateProduct.controls['initialPrice'].invalid ?'is-invalid':'is-valid'"/>
            <div class="invalid-feedback">
              <div *ngIf="formCreateProduct.controls['initialPrice'].errors?.required
        && (formCreateProduct.controls['initialPrice'].touched)">
                Không được bỏ trống
              </div>
              <div *ngIf="formCreateProduct.controls['initialPrice'].hasError('pattern') || formCreateProduct.controls['initialPrice'].hasError('min')" style="color: red">
             Giá ban đầu phải là số nguyên dương
           </div>
            </div>
          </div>
          <div class="mb-2">
            <div class="d-flex align-items-center mb-2">
              <object data="assets/icons/money-increase.svg" width="20" height="20"></object>
              <label class="ms-2">Mỗi lần tăng ít nhất<span style="color: red"> (*)</span>:</label>
            </div>
            <div class="input-group">
              <select formControlName="priceStep" class="form-select w-50">
                <option value="">Chon bước giá</option>
                <option *ngFor="let item of priceStepList" [value]="item.id">{{item.step}}</option>
              </select>
            </div>
          </div>
          <div class="mb-2">
            <div class="d-flex align-items-center mb-2">
              <object data="assets/icons/category.svg" width="20" height="20"></object>
              <label class="ms-2">Chủng loại<span style="color: red">(*)</span>:</label>
            </div>
            <div class="input-group">
              <select formControlName="category" class="form-select w-50">
                <option value="">Thể loại</option>
                <option *ngFor="let item of categoryList" [value]="item.id">{{item.name}}</option>
              </select>
            </div>
          </div>

          <div class="mb-2">
            <div class="d-flex align-items-center mb-2">
              <object data="assets/icons/dollar.svg" width="20" height="20"></object>
              <label class="ms-2">Hình ảnh sản phẩm<span style="color: red">(*)</span>:</label>
            </div>
            <input style="width: 60%" type="file" class="form-control" (change)="showPreview($event)"/>
          </div>

          <div class="mb-2">
            <div class="d-flex align-items-center mb-2">
              <object data="assets/icons/information.svg" width="20" height="20"></object>
              <label class="ms-2">Thông tin chi tiết<span style="color: red">(*)</span>:</label>
            </div>
            <textarea formControlName="description" id="description" class="form-control"
                      [ngClass]="formCreateProduct.controls['description'].invalid ?'is-invalid':'is-valid'"></textarea>
            <div class="invalid-feedback">
              <div *ngIf="formCreateProduct.controls['description'].errors?.required
        && (formCreateProduct.controls['description'].touched)">
                Không được bỏ trống
              </div>
            </div>
          </div>

          <div class="mb-2">
            <div class="d-flex align-items-center mb-2">
              <object data="assets/icons/hour-end.svg" width="20" height="20"></object>
              <label class="ms-2">Thời gian bắt đầu<span style="color: red"> (*)</span>:</label>
            </div>
            <input formControlName="startTime" type="date" class="form-control" placeholder="start Day.."
                   [ngClass]="formCreateProduct.controls['startTime'].invalid ?'is-invalid':'is-valid'"/>
            <div class="invalid-feedback">
              <div *ngIf="formCreateProduct.errors?.checkStartDay
                    && (formCreateProduct.controls['startTime'].touched)">
                Không được nhỏ hơn ngày hiện tại
              </div>
              <div *ngIf="formCreateProduct.controls['startTime'].errors?.required
                    && (formCreateProduct.controls['startTime'].touched)">
                Không được bỏ trống
              </div>
            </div>
          </div>
          <div class="mb-2">
            <div class="d-flex align-items-center mb-2">
              <object data="assets/icons/hour-start.svg" width="20" height="20"></object>
              <label class="ms-2">Thời gian kết thúc<span style="color: red"> (*)</span>:</label>
            </div>
            <input formControlName="endTime" type="date" class="form-control"
                   [ngClass]="formCreateProduct.controls['endTime'].invalid ?'is-invalid':'is-valid'"/>
            <div class="invalid-feedback">
              <div *ngIf="formCreateProduct.errors?.checkEndDay
                    && (formCreateProduct.controls['endTime'].touched)">
                Không được nhỏ hơn ngày bắt đầu
              </div>
              <div *ngIf="formCreateProduct.controls['endTime'].errors?.required
                    && (formCreateProduct.controls['endTime'].touched)">
                Không được bỏ trống
              </div>
            </div>
          </div>

          <div class="d-flex mt-3 mb-2 w-100">
            <button class="btn btn-primary d-flex justify-content-center">
              <object data="assets/icons/legal-hammer.svg" width="20" height="20"
                      class="me-2 slide"></object>
              <p>
                Đấu giá sản phẩm
              </p>
            </button>
            <button class="btn btn-outline btn-outline-primary ms-2 d-flex justify-content-center">
              <object data="assets/icons/back.svg" width="20" height="20"
                      class="me-2 slide"></object>
              <p>Nhập lại</p>
            </button>
          </div>
        </form>
        <div class="mb-2">
            <span style="font-size: 15px" class="fst-italic">
              Trường có dấu <span style="color: red"> (*)</span> là bắt
              buộc,không được bỏ trống
            </span>
        </div>
      </div>

      <div class="col-lg-3"></div>
    </div>
  </div>
</div>
