*{
  box-sizing: border-box;
}

.wrapper__chat {
  padding: 8px;
  display: flex;
  align-items: start;
  height: 90vh;
}
.user__list {
  padding: 0 4px 0 8px;
  height: 100%;
  overflow-y: scroll;
}

/* width */
.user__list::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
.user__list::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #ff5f6d, #ffc371);
  border-radius: 0;
}

.user__group {
  width: 100%;
  margin: 0;
}

.user__group {
  border-radius: 8px 8px 0 0;
  margin-bottom: 8px;
  padding: 0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.35);
  list-style: none;
}
.user__item {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 6px;
  text-transform: capitalize;
  margin-bottom: 4px;
  border-bottom: 1px solid rgba(134, 134, 134, 0.25);
  transition: color 0.3s ease-in-out;
}
.user__item:hover {
  color: #FFFFFF;
  background: linear-gradient(to right, #ff5f6d, #ffc371);
  opacity: 0.9;
}
.user__item.title {
  border-radius: 8px 0 0 0;
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(to right, #ff5f6d, #ffc371);
}

.user__item.active {
  color: #FFFFFF;
  background: linear-gradient(to right, #ff5f6d, #ffc371);
}

.user__item.active::after {
  position: absolute;
  content: "New Message";
  display: block;
  font-size: 12px;
  color: blue;
  padding-right: 12px;
  right: 0;
  /*top: 0;*/
}

.user__item.selected {
  background: linear-gradient(to right, #5f9fff, #ffc371);

}

.user__item.selected::before {
  position: absolute;
  content: "";
  right: 0;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-right:10px solid #5f54ff;
}

#myForm {
  font-family: sans-serif;
}


/* Ẩn chatbox mặc định */
.chatbox {
  margin-left: 8px;
  min-height: 100% !important;
  position: relative;
  border: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.35);
  border-radius: 0 0 10px 10px;
  background-color: #ecf0f1;
}

.chat__name {
  padding: 4px;
  text-align: center;
  width: 100%;
  border-radius: 25px;
  outline: none;
  border: none;
  font-size: 32px;
  margin-bottom: 24px;
}


p{
  padding: 0;
  margin: 0;
}
.chatbox__header {
  border-radius: 0;
  background: linear-gradient(to right, #ff5f6d, #ffc371);
  font-family: sans-serif;
  color: #FFFFFF;
  padding: 7px;
}

/* Thêm style cho form */
.chatbox__body {
  width: 100%;
  height: 500px;
  padding: 10px;
  padding-top: 32px;
  padding-bottom: 80px;
  overflow-y: scroll;
}

.chatbox__body::-webkit-scrollbar {
  display: none;
}

.form__input__message {
  display: flex;
  justify-content: space-between;
}

.chatbox__Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 0 0 10px 10px;
}

.input__mesage {
  width: 85%;
  padding: 8px 12px;
  outline: none;
  border: none;
  font-size: 16px;
  border-radius: 0 0 0 10px;
  border-right: 2px solid #ecf0f1;

}
.send {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 0;
  width: 15%;
  color: #fe6432;
}

.send:hover {
  font-size: 20px;
  cursor: pointer;
}
.user_name{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #868686;
  clear: both;
}
.date-time {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #868686;
  clear: both;
}

.user__message {
  text-align: left;
  background: linear-gradient(to right, #ff5f6d, #ffc371);
  color: #fdfdfd;
  padding: 8px;
  border-radius: 0 8px 8px 8px;
  border: none;
}

.me__box {
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*justify-content: flex-end;*/
}

textarea {
  resize: none;
  outline: none;
  cursor: default;
}

textarea::-webkit-scrollbar {
  display: none;
}

.me__message{
  text-align: right;
  border: none;
  background-color: #c7c6c669;
  margin-bottom: 24px;
  border-radius: 10px;
  padding: 8px;
  display: inline-block;
  float: right;
  line-height: 100%;
}
#minimize {
  cursor: pointer;
}

/*.auto-height {*/
/*  width: 100%;*/
/*  max-height: 200px !important;*/
/*  padding: 10px;*/
/*  padding-top: 32px;*/
/*  padding-bottom: 120px;*/
/*  overflow-y: scroll;*/
/*}*/
.show__user {
  padding-left: 16px;
}
.show__user--detail {
  color: #4d5154;
  font-size: 14px;
  margin-bottom: 8px;
}

.show__user--detail i {
  margin-right: 8px;
}
.show__user--avarta {
  display: flex;
  align-items: center;
  justify-content: center;
}

.show__user--body {
  margin-top: 12px;
  width: 100%;
}

