<button hidden (click)="ngOnInit()" id="auto-reload">Auto Reload</button>
<div>
  <div>
    <div>
      <table class="table" style="font-size: 14px">
        <thead class="table-light">
        <tr class="border-top">
          <th>STT</th>
          <th>Số Tiền</th>
          <th class="text-center">Thời Gian</th>
          <th>Thành Viên</th>
        </tr>
        </thead>
        <tbody *ngIf="auctionPageByProductId?.content.length > 0; else pageAuctionIsEmpty">
        <tr *ngFor="let item of auctionPageByProductId.content; let i = index">
          <td>{{i+1}}</td>
          <td>{{item.currentPrice}}</td>
          <td class="text-center">{{item.auctionTime}}</td>
          <td>{{item.fullName |titlecase}}</td>
        </tr>
        </tbody>
      <ng-template #pageAuctionIsEmpty>
        <tbody>
        <tr>
          <td colspan="3">
            <p class="text-danger">Chưa có đấu giá nào</p>
          </td>
        </tr>
        </tbody>
      </ng-template>
      </table>
      <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation example" class="d-flex justify-content-end">
          <ul class="my__pagination" *ngIf="auctionPageByProductId">
            <li class="my__page-item pointer" [ngClass]="auctionPageByProductId.number == 0 ? 'disabled': ''">
              <span class="page-link" (click)="goToPage(auctionPageByProductId.number - 1)">
                Trước
              </span>
            </li>
            <li class="my__page-item pointer"
                *ngFor="let pageNumber of [].constructor(auctionPageByProductId.totalPages), let i = index"
                [ngClass]="auctionPageByProductId.number == i ?'actived': ''">
              <span class="my__page-link" (click)="goToPage(i)">{{i + 1}}</span>
            </li>
            <li class="my__page-item pointer"
                [ngClass]="auctionPageByProductId.number + 1 == auctionPageByProductId.totalPages ? 'disabled': ''">
              <span class="page-link" (click)="goToPage(auctionPageByProductId.number + 1)">
                Sau
              </span>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
