<button hidden (click)="ngOnInit()" id="auto-reload">Auto Reload</button>
<div>
  <div>
    <div>
      <table class="table" style="font-size: 12px">
        <thead class="table-light">
        <tr class="border-top">
          <th>STT</th>
          <th>Số Tiền</th>
          <th>Thời Gian Đấu Giá</th>
          <th>Thành Viên</th>
        </tr>
        </thead>

        <tbody *ngIf="auctionPageByProductId">
        <tr *ngFor="let item of auctionPageByProductId.content; let i = index">
          <td>{{i + 1}}</td>
          <td>{{item.currentPrice}}</td>
          <td>{{item.auctionTime}}</td>
          <td>{{item.fullName}}</td>
        </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation example" class="d-flex justify-content-end">
          <ul class="pagination" *ngIf="auctionPageByProductId">
            <li class="page-item pointer" [ngClass]="auctionPageByProductId.number == 0 ? 'disabled': ''">
              <span class="page-link" (click)="goToPage(auctionPageByProductId.number - 1)">Previous</span>
            </li>
            <li class="page-item pointer"
                *ngFor="let pageNumber of [].constructor(auctionPageByProductId.totalPages), let i = index"
                [ngClass]="auctionPageByProductId.number == i ?'active': ''">
              <span class="page-link" (click)="goToPage(i)">{{i + 1}}</span>
            </li>
            <li class="page-item pointer"
                [ngClass]="auctionPageByProductId.number + 1 == auctionPageByProductId.totalPages ? 'disabled': ''">
              <span class="page-link" (click)="goToPage(auctionPageByProductId.number + 1)">Next</span>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
