/*Begin sidebar*/
.sidebar__left {
  background: #535151;
}

.menu {
  padding: 0;
  padding-top: 24px;
  background: #535151;
  margin: 0;
}

.menu__item {
  padding: 4px 12px;
  list-style-type: none;
  cursor: pointer;
  margin-bottom: 12px;
}

.menu__icon {
  margin-right: 4px;
}

.menu__link {
  text-decoration: none;
  color: cornsilk;
}

.menu__link:hover {
  color: cornsilk;

}

.menu__item:hover {
  background-color: cornsilk;
  opacity: 0.7;
}

.menu__item:hover .menu__link {
  color: #0a0a0a;
}

/*End sidebar*/

h1 {
  text-align: center;
  color: blue;
}

#content {
  padding-bottom: 3%;
}


/*Begin-Search*/
#search-row {
  width: 100%;
  padding: 0 3% 0 5%;
}

.form-control:focus {
  box-shadow: none;
}

.form-select:focus {
  box-shadow: none;
}


.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

.form-select-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 13px;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-inp {
  width: 80%;
  margin-left: 10%;
}

#form-floating-price {
  width: 100%;
  margin-left: 0;
}

#form-btn {
  padding-left: 5%;
}

/*End-Search*/

/*Begin-List*/
#list-row {
  width: 100%;
  padding: 2% 2% 0 5%;
}


.delete-icon {
  color: white;
  font-size: 20px;
}

.edit-icon {
  font-size: 20px;
  color: green;
}

td a {
  border: none;
  background: transparent;
  outline: none;
}

/*End-List*/
