<div class="d-flex justify-content-center align-items-center mt-2 mb-2">
  <div class="boxed shadow h-100 ">
    <form *ngIf="formCreateProduct" class="form" [formGroup]="formCreateProduct" (ngSubmit)="addNewProduct()">
      <fieldset>
        <legend>
          <div class="mt-4 text-center">
            <h1>Thêm mới sản phẩm</h1>
          </div>
        </legend>
      </fieldset>
      <div class="mb-2">
        <div class="d-flex align-items-center mb-2">
          <object data="assets/icons/interface-edit.svg" width="20" height="20"></object>
          <label for="name" class="form-label ms-2">Tên sản phẩm<span style="color: red">(*)</span>:</label>
        </div>
        <input id="name" type="text" class="form-control" formControlName="name"
               [ngClass]="formCreateProduct.controls['name'].touched
                 && formCreateProduct.controls['name'].invalid?'is-invalid':formCreateProduct.controls['name'].touched
                 && formCreateProduct.controls['name'].valid ?'is-valid':''"/>
        <div class="invalid-feedback">
          <div *ngIf="formCreateProduct.controls['name'].errors?.required
        && (formCreateProduct.controls['name'].touched)">
            Không được bỏ trống.
          </div>
          <div *ngIf="formCreateProduct.controls['name'].errors?.maxlength
        && (formCreateProduct.controls['name'].touched)">
            Tên sản phẩm không được nhiều hơn 255 kí tự.
          </div>
        </div>
      </div>
      <div class="mb-2">
        <div class="d-flex mb-2 mt-3 w-100">
          <object data="assets/icons/icon-people.svg" width="20" height="20"></object>
          <label for="user" class="form-label ms-2">Tên tài khoản<span style="color: red">(*)</span>:</label>
        </div>
        <div class="d-flex align-items-center mb-2">
          <input id="user" #testNum style="width: 50%" type="text" class="form-control" formControlName="user"
                 [ngClass]="formCreateProduct.controls['user'].touched
                   && formCreateProduct.controls['user'].invalid?'is-invalid':formCreateProduct.controls['user'].touched
                   && formCreateProduct.controls['user'].valid ?'is-valid':''"/>
          <button type="button" class="btn btn-primary d-flex justify-content-center mx-3"
                  (click)="findUserByAccount(testNum)">
            <object data="assets/icons/check-people.svg" width="20" height="20"
                    class="me-2 slide"></object>
            Kiểm tra
          </button>
          <button type="button" style="width: 20%" (click)="resetFindUserById(testNum)">
            <object data="assets/icons/back.svg" width="20" height="20"></object>
          </button>
        </div>
      </div>
      <div class="invalid-feedback d-block">
        <div *ngIf="formCreateProduct.controls['user'].errors?.required
        && (formCreateProduct.controls['user'].touched)">
          Không được bỏ trống.
        </div>
      </div>
      <div class="mb-2">
        <div class="d-flex align-items-center mb-2">
          <object data="assets/icons/information.svg" width="20" height="20"></object>
          <label class="form-label ms-2">Thông tin người đăng:</label>
        </div>
        <textarea *ngIf="userFind" class="form-control" disabled>
              {{checkUser}}
            </textarea>
        <textarea *ngIf="!userFind" class="form-control" disabled>
                  {{checkUser}}
            </textarea>
      </div>
      <div class="mb-2">
        <div class="d-flex align-items-center mb-2">
          <object data="assets/icons/dollar.svg" width="20" height="20"></object>
          <label for="initialPrice" class="form-label ms-2">Giá ban đầu<span style="color: red">(*)</span>:</label>
        </div>
        <input  id="initialPrice" type="text" class="form-control" formControlName="initialPrice"
                [ngClass]="formCreateProduct.controls['initialPrice'].touched
                 && formCreateProduct.controls['initialPrice'].invalid?'is-invalid':formCreateProduct.controls['initialPrice'].touched
                 && formCreateProduct.controls['initialPrice'].valid ?'is-valid':''"/>
        <div class="invalid-feedback">
          <div *ngIf="formCreateProduct.controls['initialPrice'].errors?.required
        && (formCreateProduct.controls['initialPrice'].touched)">
            Không được bỏ trống.
          </div>
          <div *ngIf="formCreateProduct.controls['initialPrice'].errors?.pattern
        && (formCreateProduct.controls['initialPrice'].touched)">
            Giá ban đầu phải là số nguyên dương.
          </div>
        </div>
      </div>
      <div class="mb-2">
        <div class="d-flex align-items-center mb-2">
          <object data="assets/icons/money-increase.svg" width="20" height="20"></object>
          <label for="priceStep" class="form-label ms-2">Mỗi lần tăng ít nhất<span
            style="color: red">(*)</span>:</label>
        </div>
        <select id="priceStep" class="form-select" aria-label="Default select example" formControlName="priceStep"
                [ngClass]="formCreateProduct.controls['priceStep'].touched
                 && formCreateProduct.controls['priceStep'].invalid?'is-invalid':formCreateProduct.controls['priceStep'].touched
                 && formCreateProduct.controls['priceStep'].valid ?'is-valid':''">
          <option value="">Bước giá</option>
          <option *ngFor="let item of priceStepList" [ngValue]="item.id">{{item.step}}</option>
        </select>
        <div class="invalid-feedback">
          <div *ngIf="formCreateProduct.controls['priceStep'].errors?.required
        && (formCreateProduct.controls['priceStep'].touched)">
            Vui lòng chọn bước giá để đấu giá.
          </div>
        </div>
      </div>
      <div class="mb-2">
        <div class="d-flex align-items-center mb-2">
          <object data="assets/icons/category.svg" width="20" height="20"></object>
          <label for="category" class="form-label ms-2">Chủng loại<span style="color: red">(*)</span>:</label>
        </div>
        <select id="category" class="form-select" aria-label="Default select example"
                formControlName="category"
                [ngClass]="formCreateProduct.controls['category'].touched
                 && formCreateProduct.controls['category'].invalid?'is-invalid':formCreateProduct.controls['category'].touched
                 && formCreateProduct.controls['category'].valid ?'is-valid':''">
          <option value="">Chủng loại</option>
          <option *ngFor="let item of categoryList" [ngValue]="item.id">{{item.name}}</option>
        </select>
        <div class="invalid-feedback">
          <div *ngIf="formCreateProduct.controls['category'].errors?.required
        && (formCreateProduct.controls['category'].touched)">
            Vui lòng chọn chủng loại sản phẩm.
          </div>
        </div>
      </div>

      <div class="mb-2">
        <div class="d-flex align-items-center mb-2">
          <object data="assets/icons/image.svg" width="20" height="20"></object>
          <label for="image" class="form-label ms-2">Hình ảnh sản phẩm<span style="color: red">(*)</span>:</label>
        </div>
        <input id="image"
               #file
               type="file"
               multiple
               (change)="showPreview($event)"
               autocomplete="off" class="form-control"
               formControlName="imageProduct"
               accept="image/png, image/gif, image/jpeg"
               [ngClass]="formCreateProduct.controls['imageProduct'].touched
                 && formCreateProduct.controls['imageProduct'].invalid?'is-invalid':formCreateProduct.controls['imageProduct'].touched
                 && formCreateProduct.controls['imageProduct'].valid ?'is-valid':''">
        <div class="invalid-feedback d-block">
          <div *ngIf="formCreateProduct.controls['imageProduct'].errors?.required
        && (formCreateProduct.controls['imageProduct'].touched)">
            Vui lòng chọn ảnh để đấu giá.
          </div>
        </div>
      </div>
      <div *ngIf="messageCreate !=''">{{messageCreate}}</div>
      <div class="d-flex justify-content-left" style="overflow-x: scroll">
        <div *ngFor="let img of selectedFile,let i = index" style="margin-right: 8px">
          <div style="position: relative">
            <img class="d-block" style="height: 84px" src="{{img}}">
            <span class="remove_img" (click)="deleteImageNew(i)"
                  aria-label="Close">
            <i class="fa-solid fa-trash-can"></i>
          </span>
          </div>
        </div>
      </div>

      <div class="mb-2">
        <div class="d-flex align-items-center mb-2">
          <object data="assets/icons/information.svg" width="20" height="20"></object>
          <label for="description" class="form-label ms-2">Thông tin chi tiết <span
            style="color: red">(*)</span>:</label>
        </div>
        <ckeditor id="description" [editor]="editor" formControlName="description" (ready)="onReady($event)"
                  [ngClass]="formCreateProduct.controls['description'].touched
                 && formCreateProduct.controls['description'].invalid?'is-invalid':formCreateProduct.controls['description'].touched
                 && formCreateProduct.controls['description'].valid ?'is-valid':''"></ckeditor>
        <div class="invalid-feedback">
          <div *ngIf="formCreateProduct.controls['description'].errors?.required
        && (formCreateProduct.controls['description'].touched)">
            Không được bỏ trống.
          </div>
        </div>
      </div>

      <div class="mb-2">
        <div class="d-flex align-items-center mb-2">
          <object data="assets/icons/hour-end.svg" width="20" height="20"></object>
          <label for="startTime" class="form-label ms-2">Thời gian bắt đầu<span
            style="color: red">(*)</span>:</label>
        </div>
        <input id="startTime" type="datetime-local" class="form-control" formControlName="startTime"
               [ngClass]="formCreateProduct.errors?.checkStartTime||formCreateProduct.controls['startTime'].touched
                 && formCreateProduct.controls['startTime'].invalid?'is-invalid':formCreateProduct.controls['startTime'].touched
                 && formCreateProduct.controls['startTime'].valid ?'is-valid':''"/>
        <div class="invalid-feedback">
          <div *ngIf="formCreateProduct.errors?.checkStartTime
        && (formCreateProduct.controls['startTime'].touched)">
            Ngày bắt đầu đấu giá không được nhỏ hơn ngày hiện tại và phải cách sau 3 ngày.
          </div>
          <div *ngIf="formCreateProduct.controls['startTime'].errors?.required
        && (formCreateProduct.controls['startTime'].touched)">
            Không được bỏ trống.
          </div>
        </div>
      </div>
      <div class="mb-2">
        <div class="d-flex align-items-center mb-2">
          <object data="assets/icons/hour-start.svg" width="20" height="20"></object>
          <label for="endTime" class="form-label ms-2">Thời gian kết thúc<span
            style="color: red">(*)</span>:</label>
        </div>
        <input id="endTime" type="datetime-local" class="form-control" formControlName="endTime"
               [ngClass]="formCreateProduct.errors?.checkEndTime||formCreateProduct.controls['endTime'].touched
                 && formCreateProduct.controls['endTime'].invalid?'is-invalid':formCreateProduct.controls['endTime'].touched
                 && formCreateProduct.controls['endTime'].valid ?'is-valid':''"/>
        <div class="invalid-feedback">
          <div *ngIf="formCreateProduct.errors?.checkEndTime
        && (formCreateProduct.controls['endTime'].touched)">
            Ngày kết thúc đấu giá không được nhỏ hơn ngày bắt đầu đấu giá và không được đấu giá quá 30 ngày.
          </div>
          <div *ngIf="formCreateProduct.controls['endTime'].errors?.required
        && (formCreateProduct.controls['endTime'].touched)">
            Không được bỏ trống.
          </div>
        </div>
      </div>

      <div class="d-flex mt-3 mb-2 w-100">
        <button type="submit" [disabled]="!this.formCreateProduct.valid" style="margin-right: 5px"
                class="btn btn-primary d-flex justify-content-center">
          <object data="assets/icons/legal-hammer.svg" width="20" height="20"
                  class="me-2 slide"></object>
          <p>
            Thêm
          </p>
        </button>
        <button (click)="resetForm(file)" type="button" style="margin-right: 5px"
                class="btn btn-outline btn-outline-primary ms-auto d-flex justify-content-center">
          <object data="assets/icons/button-back.svg" width="20" height="20"
                  class="me-2 slide"></object>
          <p>Nhập lại</p>
        </button>
        <button routerLink="/products" class="btn btn-outline btn-warning ms-auto d-flex justify-content-center">
          <object data="assets/icons/cancel.svg" width="20" height="20"
                  class="me-2 slide"></object>
          <p>Hủy</p>
        </button>
      </div>

    </form>

    <div class="mb-2">
            <span style="font-size: 15px" class="fst-italic">
              Trường có dấu <span style="color: red"> (*)</span> là bắt
              buộc,không được bỏ trống
            </span>
    </div>
  </div>
</div>
