<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="footer__info band">
          <div class="footer_title">
            <h5>
              Kết Nối với chúng tôi
            </h5>
            <ul class="d-flex justify-content-between footer__content">
              <li class="footer__item">
                <p>
                  <i class="fa-brands fa-facebook"></i>
                  <span>Facebook</span>
                </p>
              </li>
              <li class="footer__item">
                <p>
                  <i class="fa-brands fa-instagram"></i>
                  <span>Instagram</span>
                </p>
              </li>
              <li class="footer__item">
                <p>
                  <i class="fa-solid fa-phone-flip"></i>
                  <span>0909.999.999</span>
                </p>
              </li>
              <li class="footer__item">
                <p>
                  <i class="fa-solid fa-envelope"></i>
                  <span>C0622G1@Codegym.com.vn</span>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 copyright">
        <p class="w-100 text-center">@Copyright Tập thể C0622G1</p>
      </div>
    </div>
  </div>
</footer>
