<div class="row">
  <h1 class="text-center">LỊCH SỬ ĐĂNG KÝ ĐẤU GIÁ</h1>

</div>
<div>
  <div>
    <div class="row" id="title">
      <marquee direction="right"
               direction="left"
               behavior="alternate">
        <img width="70%" height="200px" id="img" onclick="changeImage()"
             src="https://static.daugiarongviet.vn/uploaded/slide/dau-gia-rong-viet-1_1663042382.jpg"
             alt="">

      </marquee>

    </div>
    <div class="row">
      <h1 class="text-center">LỊCH SỬ ĐĂNG KÝ ĐẤU GIÁ</h1>

    </div>

    <div class="row" id="center">
      <table class="table table-danger table-striped-columns">
        <thead>
        <tr class="text-center">
          <th>STT</th>
          <th>Tên Sản Phẩm</th>
          <th>Thông Tin Sản Phẩm</th>
          <th>Giá Đăng Ký</th>
          <th>Ngày Đăng Ký</th>
          <th>Tình Trạng</th>
        </tr>
        </thead>
        <h3 class="text-danger text-center" *ngIf="pageAuctionProductHistory == null">Bạn không có lịch sử đăng ký</h3>
        <tbody class="text-center">
        <tr  *ngFor="let item of pageAuctionProductHistory.content ;index as i">
          <td class="text-center">{{i + 1 + (page - 1) * pageSize}}</td>
          <td>{{item.nameProduct}}</td>
          <td ><a  data-bs-toggle="modal" data-bs-target="#exampleModal">{{item.description|ProductPipe}}</a></td>
          <td>{{item.priceNow|currency}}</td>
          <td>{{item.registerDay}}</td>
          <td class="text-danger">{{item.auctionStatus}}</td>


          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Thông tin chi tiết</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <b>{{item.description}}</b>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </tr>
        </tbody>
      </table>

      <div>
        <div *ngIf="pageAuctionProductHistory">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link"
                                       [ngClass]="pageAuctionProductHistory.first ? 'disabled': ''"
                                       (click)="gotoPage(0)">First</a></li>
              <li class="page-item"><a class="page-link"
                                       [ngClass]="pageAuctionProductHistory.first ? 'disabled': ''"
                                       (click)="gotoPage(pageAuctionProductHistory.number - 1)">Previous</a>
              </li>
              <li class="page-item active"><a class="page-link">
                {{pageAuctionProductHistory.number + 1}}/{{pageAuctionProductHistory.totalPages}}</a></li>
              <li class="page-item"><a class="page-link"
                                       [ngClass]="pageAuctionProductHistory.last ? 'disabled': ''"
                                       (click)="gotoPage(pageAuctionProductHistory.number + 1)">Next</a>
              </li>
              <li class="page-item"><a class="page-link"
                                       [ngClass]="pageAuctionProductHistory.last ? 'disabled': ''"
                                       (click)="gotoPage(pageAuctionProductHistory.totalPages - 1)">Last</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <script>
    var index = 1;
    changeImage = function () {
      var imgs = ["https://static.daugiarongviet.vn/uploaded/slide/dau-gia-rong-viet-1_1663042382.jpg",
        "https://hoc11.vn/wp-content/uploads/2021/11/tinh-nang-dau-gia-tren-shopee-live.png",
        "https://i.ytimg.com/vi/z9iPlspJJ1U/maxresdefault.jpg",
        "http://blog.abit.vn/wp-content/uploads/2020/04/cach-san-deal-tiki3-2.png",];
      document.getElementById('img').src = imgs[index];
      index++;
      if (index == 4) {
        index = 0;
      }
    }
    setInterval(changeImage, 2000);
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
          crossorigin="anonymous">

  </script>
</div>
