<div class="container-fluid  header">
  <div class="container-fluid">
    <div class="row">
      <div class="header__menu">
        <ul class="menu d-flex align-items-center m-0">
          <li class="menu__item band">
                                <span class="menu__link logo">
                                    <i [routerLink]="['home']" class="fa-brands fa-suse"></i>
                                </span>
          </li>
          <li [routerLink]="['/products']" *ngIf="checkLogin && accountRole == 'ROLE_ADMIN'" class="menu__item">
                                <span class="menu__link ">
                                    Quản lý sản phẩm
                                </span>
          </li>
          <li [routerLink]="['/user/list']" *ngIf="checkLogin && accountRole == 'ROLE_ADMIN'" class="menu__item">
            <span class="menu__link ">Quản Lý Người Dùng</span>
          </li>
          <li [routerLink]="['/transaction']"*ngIf="checkLogin && accountRole == 'ROLE_ADMIN'" class="menu__item">
            <span class="menu__link ">Quản Lý Giao Dịch</span>
          </li>
          <li [routerLink]="['auction/product/add']" *ngIf="checkLogin && accountRole != 'ROLE_ADMIN'" class="menu__item">
            <span class="menu__link ">Đấu Giá Sản phẩm</span>
          </li>

          <li class="menu__item">
                                <span class="menu__link">
                                    <i class="fa-solid fa-circle-question mx-1"></i>
                                    <span routerLink="/guide" class="label_guide">Hướng dẫn</span>
                                </span>
          </li>
        </ul>
        <div *ngIf="!checkLogin" class="login d-flex" style="display: none">
          <button routerLink="/user/create" class="login__btn mx-2">
            <i class="fa-solid fa-circle-user"></i>
            Đăng ký
          </button>
          <button routerLink="/login" class="login__btn">
            <i class="fa-solid fa-right-to-bracket"></i>
            Đăng nhập
          </button>
        </div>
        <div *ngIf="checkLogin" class="d-flex align-items-end">
          <div class="user__nofication mx-2">
            <i style="display: {{display}}" class="user__ex fa-solid fa-caret-up position-absolute"></i>
            <span style="cursor: pointer" class="nofication" (click)="showNofication()">
              <i class="fa-regular fa-bell"></i>
              <p class="badge badge-light" style="position: relative;
                bottom: 12px; right: 6px">
                {{notificationSize}}
              </p>
            </span>
            <div style="display: {{display}}" class="nofication__user" *ngIf="nofications?.length > 0">
              <div class="nofication__item" *ngFor="let nofication of nofications">
                <p *ngIf="checkLogin && accountRole != 'ROLE_ADMIN'" style="font-size: 12px; color: black; margin-bottom: -4px">{{nofication.user.lastName}}</p>
                <p *ngIf="checkLogin && accountRole == 'ROLE_ADMIN'" style="font-size: 12px; color: black; margin-bottom: -4px">Admin</p>
                <p class="nofication__link" [ngClass]="nofication.status == 2 ? 'noficationed': ''"  style="padding-left: 8px;" (click)="noficationed(nofication)" routerLink="{{nofication.link}}">{{nofication.message}}</p>
              </div>
            </div>
          </div>
          <div class="user__cart" *ngIf="checkLogin && accountRole != 'ROLE_ADMIN'">
            <span class="text-white" style="cursor: pointer" routerLink="/cart">
              <i class="fa-solid fa-cart-shopping"></i>
              <p class="badge badge-light" style="position: relative;
                bottom: 12px; right: 6px">{{cartSize}}
              </p>
            </span>
          </div>
          <div class="user__info ">
            <div class="mx-2">
              <p class="text-white" style="font-size: 12px; margin-bottom: -4px">Xin chào</p>
              <p class="text-white"> {{nameUser}}</p>
            </div>
            <img src="{{currentUser.avatar}}" class="avatar">
              <ul class="user__info__group">
                <i class=" up__info fa-solid fa-caret-up"></i>
                <li class="user__info__item" routerLink="/user/update/{{currentUser.id}}" *ngIf="checkLogin" >
                  <span>Hồ sơ cá nhân</span>
                </li>
                <li class="user__info__item" routerLink="/chat/support" *ngIf="checkLogin && accountRole == 'ROLE_ADMIN'" >
                  <span>Phòng chat admin</span>
                </li>
                <li *ngIf="checkLogin && accountRole != 'ROLE_ADMIN'" class="user__info__item">
                  <span routerLink="historyProduct">Lịch sử đơn hàng</span>
                </li>
                <li *ngIf="checkLogin && accountRole != 'ROLE_ADMIN'" class="user__info__item">
                  <span routerLink="historyAuctionProduct">Lịch sử đấu giá</span>
                </li>
                <li class="user__info__item mb-2">
                  <span (click)="logOut()">Đăng xuất</span>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<nav class="header__mobile header navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button style="border: 1px solid aliceblue;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <i class="text-white fa-solid fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <p class="nav-link">Trang chủ</p>

        </li>
        <li class="nav-item">
          <p class="nav-link">Đang đấu giá</p>
        </li>
        <li class="nav-item">
          <p class="nav-link">Đã kết thúc</p>
        </li>
        <li class="nav-item">
          <p class="nav-link">Top</p>
        </li>
      </ul>
      <form class="d-flex justify-content-center" role="search">
        <button [routerLink]="['/user/create']" class=" w-50 login__btn mx-2">
          <i class="fa-solid fa-circle-user"></i>
          Đăng ký
        </button>
        <button class=" w-50 login__btn">
          <i class="fa-solid fa-right-to-bracket"></i>
          Đăng nhập
        </button>
      </form>
    </div>
  </div>

</nav>
