  <div class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="header__menu">
          <ul class="menu d-flex align-items-center m-0">
            <li class="menu__item band">
                                <span class="menu__link logo">
                                    <i class="fa-brands fa-suse"></i>
                                </span>
            </li>
            <li class="menu__item">
                                <span class="menu__link ">
                                    Đang đấu giá
                                </span>
            </li>
            <li class="menu__item">
              <span class="menu__link ">Đã kết thúc</span>
            </li>
            <li class="menu__item">
              <span class="menu__link ">Top</span>
            </li>
            <li class="menu__item">
              <span class="menu__link ">Trang quản lý</span>
            </li>
            <li class="menu__item">
                                <span class="menu__link">
                                    <i class="fa-solid fa-circle-question mx-1"></i>
                                    <span class="label_guide">Hướng dẫn</span>
                                </span>
            </li>
          </ul>
          <div class="login d-flex">
            <button class="login__btn mx-2">
              <i class="fa-solid fa-circle-user"></i>
              Đăng ký
            </button>
            <button class="login__btn">
              <i class="fa-solid fa-right-to-bracket"></i>
              Đăng nhập
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <nav class="header__mobile header navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <button style="border: 1px solid aliceblue;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="text-white fa-solid fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <p class="nav-link">Trang trủ</p>

          </li>
          <li class="nav-item">
            <p class="nav-link">Đang đấu giá</p>
          </li>
          <li class="nav-item">
            <p class="nav-link">Đã kết thúc</p>
          </li>
          <li class="nav-item">
            <p class="nav-link">Top</p>
          </li>
        </ul>
        <form class="d-flex justify-content-center" role="search">
          <button class=" w-50 login__btn mx-2">
            <i class="fa-solid fa-circle-user"></i>
            Đăng ký
          </button>
          <button class=" w-50 login__btn">
            <i class="fa-solid fa-right-to-bracket"></i>
            Đăng nhập
          </button>
        </form>
      </div>
    </div>
  </nav>
<!--  <div class="slide">-->
<!--    <div class="container-fluid">-->
<!--      <div class="row mt-2">-->
<!--        <div class="col-lg-10 slide">-->
<!--          <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">-->
<!--            <div class="carousel-indicators">-->
<!--              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"-->
<!--                      class="active" aria-current="true" aria-label="Slide 1"></button>-->
<!--              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"-->
<!--                      aria-label="Slide 2"></button>-->
<!--              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"-->
<!--                      aria-label="Slide 3"></button>-->
<!--            </div>-->
<!--            <div class="carousel-inner">-->
<!--              <div class="carousel-item active">-->
<!--                <img src="https://media-cdn-v2.laodong.vn/Storage/newsportal/2018/12/1/644302/IMG_1557.jpg" class="d-block w-100" alt="..." height="400">-->
<!--                <div class="carousel-caption d-none d-md-block">-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="carousel-item">-->
<!--                <img src="https://media-cdn-v2.laodong.vn/Storage/newsportal/2018/12/1/644302/IMG_1555-01.jpg" class="d-block w-100" alt="..." height="400">-->
<!--                <div class="carousel-caption d-none d-md-block">-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="carousel-item">-->
<!--                <img src="https://media-cdn-v2.laodong.vn/storage/newsportal/2018/12/1/644302/IMG_1554.jpg" class="d-block w-100" alt="..." height="400">-->
<!--                <div class="carousel-caption d-none d-md-block">-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <button class="carousel-control-prev" type="button"-->
<!--                    data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">-->
<!--              <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--              <span class="visually-hidden">Previous</span>-->
<!--            </button>-->
<!--            <button class="carousel-control-next" type="button"-->
<!--                    data-bs-target="#carouselExampleCaptions" data-bs-slide="next">-->
<!--              <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--              <span class="visually-hidden">Next</span>-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-2 sidebar__right">-->
<!--          <div class="my__card w-100" style="border: none;">-->
<!--            <div class="my__card__body">-->
<!--              <p class="d-flex justify-content-between">-->
<!--                <span><i class="fa-solid fa-crown text-warning"></i> 1</span>-->
<!--                <span class="text-danger">đ 90.000.000</span>-->
<!--              </p>-->
<!--            </div>-->
<!--            <img src="https://gomtruongan.vn/uploads/products/15082022074910/bat-tu-bao-ty-huu-da-ngoc-hoang-long-kem-de-co-nho_15082022074910.jpg" height="120px" class="d-block w-100" alt="">-->

<!--          </div>-->
<!--          <div class="my__card w-100" style="border: none;">-->
<!--            <div class="my__card__body">-->
<!--              <p class="d-flex justify-content-between">-->
<!--                <span><i class="fa-solid fa-crown text-warning"></i> 2</span>-->
<!--                <span class="text-danger">đ 80.000.000</span>-->
<!--              </p>-->
<!--            </div>-->
<!--            <img src="https://gomtruongan.vn/uploads/products/11032021094801/dieu-bat-men-ran-hoa-sen-boc-dong_11032021094801.jpg" height="120px" class="d-block w-100" alt="">-->
<!--          </div>-->
<!--          <div class="my__card w-100" style="border: none;">-->
<!--            <div class="my__card__body">-->
<!--              <p class="d-flex justify-content-between">-->
<!--                <span><i class="fa-solid fa-crown text-warning"></i> 3</span>-->
<!--                <span class="text-danger">đ 80.000.000</span>-->
<!--              </p>-->
<!--            </div>-->
<!--            <img src="https://gomtruongan.vn/uploads/products/11032021075646/dieu-bat-men-ran-boc-dong-son-thuy_11032021075646.jpg" height="120px" class="d-block w-100" alt="">-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
